node-red/templates/advanced-motion-light.json
[
  {
    "id": "flow_advanced_motion",
    "type": "tab",
    "label": "Advanced Motion Light",
    "disabled": false,
    "info": "Advanced motion lighting with day/night modes and manual override.\n\nGenerated by node-red@aurora-smart-home v1.0.0\nhttps://github.com/tonylofgren/aurora-smart-home\n\n## Features\n- Day/night brightness adjustment\n- Manual override detection\n- Configurable timeout\n- Sun state awareness"
  },
  {
    "id": "motion_trigger_adv",
    "type": "trigger-state",
    "z": "flow_advanced_motion",
    "name": "Motion Sensor",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "entityId": "binary_sensor.motion_living_room",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValue": "on"
      }
    ],
    "outputInitially": false,
    "stateType": "str",
    "x": 130,
    "y": 100,
    "wires": [
      ["check_override"],
      ["start_timer_adv"]
    ]
  },
  {
    "id": "check_override",
    "type": "function",
    "z": "flow_advanced_motion",
    "name": "Check Override",
    "func": "// Check if manual override is active\nconst overrideActive = flow.get('manualOverride') || false;\nconst overrideTime = flow.get('overrideTime') || 0;\nconst OVERRIDE_DURATION = 30 * 60 * 1000; // 30 minutes\n\n// Clear expired override\nif (overrideActive && (Date.now() - overrideTime > OVERRIDE_DURATION)) {\n    flow.set('manualOverride', false);\n    flow.set('overrideTime', 0);\n}\n\nif (flow.get('manualOverride')) {\n    node.status({fill:'yellow', shape:'ring', text:'Override active'});\n    return null; // Don't process motion\n}\n\nnode.status({fill:'green', shape:'dot', text:'Processing'});\nreturn msg;",
    "outputs": 1,
    "x": 320,
    "y": 60,
    "wires": [["get_sun_state"]]
  },
  {
    "id": "get_sun_state",
    "type": "api-current-state",
    "z": "flow_advanced_motion",
    "name": "Get Sun State",
    "server": "",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sun.sun",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "sunState",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 490,
    "y": 60,
    "wires": [["calculate_brightness"]]
  },
  {
    "id": "calculate_brightness",
    "type": "function",
    "z": "flow_advanced_motion",
    "name": "Calculate Brightness",
    "func": "// Calculate brightness based on sun state\nconst isNight = msg.sunState === 'below_horizon';\nconst hour = new Date().getHours();\n\nlet brightness;\nlet colorTemp;\n\nif (isNight || hour < 6 || hour >= 22) {\n    // Night mode - dim and warm\n    brightness = 30;\n    colorTemp = 454; // Warm white\n} else if (hour >= 6 && hour < 9) {\n    // Morning - medium brightness\n    brightness = 70;\n    colorTemp = 370;\n} else {\n    // Day - full brightness\n    brightness = 100;\n    colorTemp = 300; // Neutral\n}\n\nmsg.payload = {\n    brightness_pct: brightness,\n    color_temp: colorTemp\n};\n\nnode.status({fill:'blue', shape:'dot', text:`${brightness}%`});\nreturn msg;",
    "outputs": 1,
    "x": 680,
    "y": 60,
    "wires": [["light_on_adv"]]
  },
  {
    "id": "light_on_adv",
    "type": "api-call-service",
    "z": "flow_advanced_motion",
    "name": "Turn On Light",
    "server": "",
    "version": 5,
    "domain": "light",
    "service": "turn_on",
    "entityId": ["light.living_room"],
    "data": "payload",
    "dataType": "msg",
    "mergeContext": "",
    "outputProperties": [],
    "queue": "none",
    "x": 870,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "start_timer_adv",
    "type": "trigger",
    "z": "flow_advanced_motion",
    "name": "5 min Timer",
    "op1": "",
    "op2": "timeout",
    "op1type": "nul",
    "op2type": "str",
    "duration": "5",
    "extend": true,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 320,
    "y": 140,
    "wires": [["light_off_adv"]]
  },
  {
    "id": "light_off_adv",
    "type": "api-call-service",
    "z": "flow_advanced_motion",
    "name": "Turn Off Light",
    "server": "",
    "version": 5,
    "domain": "light",
    "service": "turn_off",
    "entityId": ["light.living_room"],
    "data": "",
    "dataType": "jsonata",
    "outputProperties": [],
    "queue": "none",
    "x": 510,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "light_state_monitor",
    "type": "trigger-state",
    "z": "flow_advanced_motion",
    "name": "Light State Monitor",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 1,
    "entityId": "light.living_room",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [],
    "outputInitially": false,
    "stateType": "str",
    "x": 150,
    "y": 220,
    "wires": [["detect_manual"]]
  },
  {
    "id": "detect_manual",
    "type": "function",
    "z": "flow_advanced_motion",
    "name": "Detect Manual Control",
    "func": "// Detect if light was manually controlled\n// (changed when no motion detected)\nconst motionState = global.get('homeassistant').homeAssistant\n    .states['binary_sensor.motion_living_room']?.state;\n\nif (motionState !== 'on') {\n    // Light changed without motion - manual control\n    flow.set('manualOverride', true);\n    flow.set('overrideTime', Date.now());\n    node.status({fill:'yellow', shape:'dot', text:'Manual override set'});\n}\n\nreturn msg;",
    "outputs": 1,
    "x": 400,
    "y": 220,
    "wires": [[]]
  },
  {
    "id": "comment_adv",
    "type": "comment",
    "z": "flow_advanced_motion",
    "name": "Configure entity IDs in trigger and action nodes",
    "info": "## Setup\n1. Update motion sensor entity ID\n2. Update light entity ID in all light nodes\n3. Deploy\n\n## Features\n- Automatic brightness based on time of day\n- Manual override detection (30 min)\n- Extends timer on new motion",
    "x": 240,
    "y": 300,
    "wires": []
  }
]
