node-red/templates/advanced-motion-light.json
[
  {
    "id": "flow_advanced_motion",
    "type": "tab",
    "label": "Advanced Motion Light",
    "info": "Motion-activated light with:\n- Day/night brightness levels\n- Configurable timeout\n- Manual override detection\n\nGenerated by node-red@aurora-smart-home\nhttps://github.com/tonylofgren/aurora-smart-home"
  },
  {
    "id": "comment_adv_config",
    "type": "comment",
    "z": "flow_advanced_motion",
    "name": "⚙️ CONFIGURATION REQUIRED",
    "info": "1. Select your Home Assistant server in all HA nodes\n2. Change entity IDs:\n   - Motion sensor: binary_sensor.motion_CHANGE_ME\n   - Light: light.CHANGE_ME\n3. Adjust brightness levels in the function node\n4. Adjust timeout (default: 5 minutes)",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "motion_trigger_adv",
    "type": "trigger-state",
    "z": "flow_advanced_motion",
    "name": "Motion Detected",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor.motion_CHANGE_ME",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      }
    ],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "str",
    "enableInput": false,
    "x": 130,
    "y": 140,
    "wires": [
      ["check_override"],
      []
    ]
  },
  {
    "id": "check_override",
    "type": "function",
    "z": "flow_advanced_motion",
    "name": "Check Manual Override",
    "func": "// Check if light was manually controlled\nconst override = flow.get('manualOverride') || {};\nconst lightId = 'light.CHANGE_ME';\nconst now = Date.now();\n\n// Check if override is active\nif (override[lightId] && now < override[lightId].until) {\n    node.status({fill:\"yellow\",shape:\"ring\",text:\"override active\"});\n    return null; // Skip automation\n}\n\n// Clear expired override\nif (override[lightId]) {\n    delete override[lightId];\n    flow.set('manualOverride', override);\n}\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"processing\"});\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 140,
    "wires": [
      ["calc_brightness"]
    ]
  },
  {
    "id": "calc_brightness",
    "type": "function",
    "z": "flow_advanced_motion",
    "name": "Calculate Brightness",
    "func": "const hour = new Date().getHours();\nlet brightness;\nlet transition = 1; // seconds\n\n// Night mode: 22:00 - 06:00\nif (hour >= 22 || hour < 6) {\n    brightness = 20;\n    transition = 3; // Slower transition at night\n}\n// Morning: 06:00 - 09:00\nelse if (hour >= 6 && hour < 9) {\n    brightness = 60;\n}\n// Day: 09:00 - 18:00\nelse if (hour >= 9 && hour < 18) {\n    brightness = 100;\n}\n// Evening: 18:00 - 22:00\nelse {\n    brightness = 70;\n}\n\nmsg.payload = {\n    action: \"light.turn_on\",\n    target: { entity_id: [\"light.CHANGE_ME\"] },\n    data: {\n        brightness_pct: brightness,\n        transition: transition\n    }\n};\n\nmsg.brightness = brightness;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 140,
    "wires": [
      ["light_on_adv", "timer_adv"]
    ]
  },
  {
    "id": "light_on_adv",
    "type": "api-call-service",
    "z": "flow_advanced_motion",
    "name": "Light ON",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "",
    "service": "",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "msg",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 770,
    "y": 100,
    "wires": [
      ["debug_on_adv"]
    ]
  },
  {
    "id": "timer_adv",
    "type": "trigger",
    "z": "flow_advanced_motion",
    "name": "5 min timeout",
    "op1": "",
    "op2": "timeout",
    "op1type": "nul",
    "op2type": "str",
    "duration": "5",
    "extend": true,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 770,
    "y": 180,
    "wires": [
      ["light_off_adv"]
    ]
  },
  {
    "id": "light_off_adv",
    "type": "api-call-service",
    "z": "flow_advanced_motion",
    "name": "Light OFF",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": ["light.CHANGE_ME"],
    "data": "{\"transition\": 3}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 950,
    "y": 180,
    "wires": [
      ["debug_off_adv"]
    ]
  },
  {
    "id": "light_state_monitor",
    "type": "trigger-state",
    "z": "flow_advanced_motion",
    "name": "Light State Changed",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "light.CHANGE_ME",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "str",
    "enableInput": false,
    "x": 150,
    "y": 280,
    "wires": [
      ["detect_manual"],
      []
    ]
  },
  {
    "id": "detect_manual",
    "type": "function",
    "z": "flow_advanced_motion",
    "name": "Detect Manual Control",
    "func": "// Check if change was triggered by user (not automation)\nconst context = msg.data?.context || {};\nconst userId = context.user_id;\nconst parentId = context.parent_id;\n\n// If user_id is set and no parent automation, it's manual\nif (userId && !parentId) {\n    const override = flow.get('manualOverride') || {};\n    const lightId = msg.data.entity_id;\n    \n    // Set 30 minute override\n    override[lightId] = {\n        active: true,\n        until: Date.now() + (30 * 60 * 1000),\n        by: userId\n    };\n    \n    flow.set('manualOverride', override);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"override set\"});\n    \n    msg.manual = true;\n    return msg;\n}\n\nnode.status({});\nreturn null;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 280,
    "wires": [
      ["debug_manual"]
    ]
  },
  {
    "id": "debug_on_adv",
    "type": "debug",
    "z": "flow_advanced_motion",
    "name": "Light ON",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "brightness",
    "targetType": "msg",
    "statusVal": "brightness & \"%\"",
    "statusType": "jsonata",
    "x": 960,
    "y": 100,
    "wires": []
  },
  {
    "id": "debug_off_adv",
    "type": "debug",
    "z": "flow_advanced_motion",
    "name": "Light OFF",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "\"OFF\"",
    "statusType": "jsonata",
    "x": 1140,
    "y": 180,
    "wires": []
  },
  {
    "id": "debug_manual",
    "type": "debug",
    "z": "flow_advanced_motion",
    "name": "Manual Override",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "\"Manual control detected\"",
    "statusType": "jsonata",
    "x": 600,
    "y": 280,
    "wires": []
  }
]
