node-red/templates/appliance-tracker.json
[
  {
    "id": "flow_appliance",
    "type": "tab",
    "label": "Appliance Tracker",
    "info": "Track washing machine/dryer state based on power consumption.\n\nStates: idle → running → finished\n\nGenerated by node-red@aurora-smart-home\nhttps://github.com/tonylofgren/aurora-smart-home"
  },
  {
    "id": "comment_appliance",
    "type": "comment",
    "z": "flow_appliance",
    "name": "⚙️ CONFIGURATION REQUIRED",
    "info": "1. Select your Home Assistant server\n2. Update power sensor entity ID\n3. Adjust power thresholds in function node\n4. Configure notification target",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "power_sensor",
    "type": "trigger-state",
    "z": "flow_appliance",
    "name": "Power Sensor",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "sensor.washing_machine_power_CHANGE_ME",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "num",
    "enableInput": false,
    "x": 130,
    "y": 140,
    "wires": [
      ["state_machine"],
      []
    ]
  },
  {
    "id": "state_machine",
    "type": "function",
    "z": "flow_appliance",
    "name": "Detect State",
    "func": "// Power thresholds\nconst IDLE_THRESHOLD = 5;      // Below this = idle\nconst RUNNING_THRESHOLD = 10;  // Above this = running\n\nconst power = parseFloat(msg.payload);\nconst currentState = flow.get('applianceState') || 'idle';\nconst startTime = flow.get('startTime');\n\nlet newState = currentState;\n\nif (power < IDLE_THRESHOLD) {\n    if (currentState === 'running') {\n        newState = 'finished';\n    } else if (currentState === 'finished') {\n        // Already notified, go back to idle\n        newState = 'idle';\n    }\n} else if (power >= RUNNING_THRESHOLD) {\n    if (currentState === 'idle' || currentState === 'finished') {\n        newState = 'running';\n        flow.set('startTime', Date.now());\n    }\n}\n\n// Only output on state change\nif (newState !== currentState) {\n    flow.set('applianceState', newState);\n    \n    msg.state = newState;\n    msg.previousState = currentState;\n    msg.power = power;\n    \n    if (newState === 'running') {\n        node.status({fill:\"green\",shape:\"dot\",text:\"running\"});\n        return [msg, null];\n    } else if (newState === 'finished') {\n        const duration = Math.round((Date.now() - startTime) / 60000);\n        msg.duration = duration;\n        msg.message = `Washing machine finished after ${duration} minutes`;\n        node.status({fill:\"blue\",shape:\"dot\",text:`done (${duration}m)`});\n        return [msg, msg];\n    } else {\n        node.status({fill:\"grey\",shape:\"ring\",text:\"idle\"});\n        return [msg, null];\n    }\n}\n\nreturn [null, null];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "flow.set('applianceState', 'idle');",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 140,
    "wires": [
      ["debug_state"],
      ["notify_done"]
    ],
    "outputLabels": ["State Changed", "Finished"]
  },
  {
    "id": "notify_done",
    "type": "api-call-service",
    "z": "flow_appliance",
    "name": "Notify Finished",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_CHANGE_ME",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"title\": \"Washing Machine\", \"message\": \"{{ message }}\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 570,
    "y": 180,
    "wires": [
      ["debug_notify"]
    ]
  },
  {
    "id": "debug_state",
    "type": "debug",
    "z": "flow_appliance",
    "name": "State",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "state",
    "targetType": "msg",
    "statusVal": "state",
    "statusType": "msg",
    "x": 530,
    "y": 100,
    "wires": []
  },
  {
    "id": "debug_notify",
    "type": "debug",
    "z": "flow_appliance",
    "name": "Notified",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "message",
    "targetType": "msg",
    "statusVal": "message",
    "statusType": "msg",
    "x": 760,
    "y": 180,
    "wires": []
  },
  {
    "id": "get_status",
    "type": "inject",
    "z": "flow_appliance",
    "name": "Get Status",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "status",
    "payloadType": "str",
    "x": 120,
    "y": 240,
    "wires": [
      ["read_status"]
    ]
  },
  {
    "id": "read_status",
    "type": "function",
    "z": "flow_appliance",
    "name": "Read Status",
    "func": "const state = flow.get('applianceState') || 'idle';\nconst startTime = flow.get('startTime');\n\nmsg.payload = {\n    state: state,\n    startTime: startTime ? new Date(startTime).toISOString() : null,\n    runningMinutes: startTime ? Math.round((Date.now() - startTime) / 60000) : 0\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 290,
    "y": 240,
    "wires": [
      ["debug_status"]
    ]
  },
  {
    "id": "debug_status",
    "type": "debug",
    "z": "flow_appliance",
    "name": "Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 470,
    "y": 240,
    "wires": []
  }
]
