node-red/templates/appliance-tracker.json
[
  {
    "id": "flow_appliance_tracker",
    "type": "tab",
    "label": "Appliance Tracker",
    "disabled": false,
    "info": "Track appliance states based on power consumption.\n\nGenerated by node-red@aurora-smart-home v1.0.0\nhttps://github.com/tonylofgren/aurora-smart-home\n\n## Features\n- Detect appliance running state\n- Cycle completion notification\n- Runtime tracking\n- Power-based state machine"
  },
  {
    "id": "washer_power",
    "type": "trigger-state",
    "z": "flow_appliance_tracker",
    "name": "Washer Power",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "entityId": "sensor.washer_power",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [],
    "outputInitially": false,
    "stateType": "str",
    "x": 140,
    "y": 100,
    "wires": [
      ["washer_state_machine"],
      []
    ]
  },
  {
    "id": "washer_state_machine",
    "type": "function",
    "z": "flow_appliance_tracker",
    "name": "Washer State Machine",
    "func": "// Configuration\nconst IDLE_THRESHOLD = 5;      // Watts - below this = idle\nconst RUNNING_THRESHOLD = 10;  // Watts - above this = running\nconst FINISH_DELAY = 120000;   // 2 minutes of low power = finished\n\nconst power = parseFloat(msg.payload) || 0;\nconst now = Date.now();\n\n// Get current state\nlet state = flow.get('washerState') || {\n    status: 'idle',      // idle, running, finishing\n    startTime: null,\n    lastHighPower: null,\n    totalRuntime: 0\n};\n\nconst previousStatus = state.status;\n\nswitch (state.status) {\n    case 'idle':\n        if (power > RUNNING_THRESHOLD) {\n            state.status = 'running';\n            state.startTime = now;\n            state.lastHighPower = now;\n            node.status({fill:'green', shape:'dot', text:'Running'});\n        }\n        break;\n    \n    case 'running':\n        if (power > RUNNING_THRESHOLD) {\n            state.lastHighPower = now;\n        } else if (power < IDLE_THRESHOLD) {\n            // Power dropped, might be finishing\n            state.status = 'finishing';\n            node.status({fill:'yellow', shape:'ring', text:'Finishing?'});\n        }\n        break;\n    \n    case 'finishing':\n        if (power > RUNNING_THRESHOLD) {\n            // False alarm, still running\n            state.status = 'running';\n            state.lastHighPower = now;\n            node.status({fill:'green', shape:'dot', text:'Still running'});\n        } else if (now - state.lastHighPower > FINISH_DELAY) {\n            // Confirmed finished\n            state.totalRuntime = now - state.startTime;\n            const minutes = Math.round(state.totalRuntime / 60000);\n            \n            state.status = 'idle';\n            state.startTime = null;\n            \n            node.status({fill:'blue', shape:'ring', text:`Done (${minutes}min)`});\n            \n            // Output completion notification\n            msg.washer = {\n                event: 'completed',\n                runtime: state.totalRuntime,\n                runtimeMinutes: minutes\n            };\n            \n            flow.set('washerState', state);\n            return [msg, msg]; // Send to both outputs\n        }\n        break;\n}\n\nflow.set('washerState', state);\n\nmsg.washer = {\n    status: state.status,\n    power: power,\n    startTime: state.startTime,\n    runtimeSoFar: state.startTime ? now - state.startTime : 0\n};\n\n// Output 1: All state updates\n// Output 2: Only completion events\nreturn [msg, null];",
    "outputs": 2,
    "x": 380,
    "y": 100,
    "wires": [
      ["update_washer_state"],
      ["washer_complete"]
    ],
    "outputLabels": ["State Update", "Completed"]
  },
  {
    "id": "update_washer_state",
    "type": "api-call-service",
    "z": "flow_appliance_tracker",
    "name": "Update HA State",
    "server": "",
    "version": 5,
    "domain": "input_select",
    "service": "select_option",
    "entityId": ["input_select.washer_status"],
    "data": "{\"option\": \"{{washer.status}}\"}",
    "dataType": "json",
    "outputProperties": [],
    "queue": "none",
    "x": 630,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "washer_complete",
    "type": "function",
    "z": "flow_appliance_tracker",
    "name": "Completion Alert",
    "func": "// Send completion notification\nmsg.payload = {\n    action: 'notify.mobile_app_phone',\n    data: {\n        title: '🧺 Washer Complete!',\n        message: `Wash cycle finished in ${msg.washer.runtimeMinutes} minutes.`,\n        data: {\n            actions: [\n                {\n                    action: 'ACKNOWLEDGE',\n                    title: 'OK'\n                }\n            ]\n        }\n    }\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 640,
    "y": 140,
    "wires": [["notify_appliance"]]
  },
  {
    "id": "notify_appliance",
    "type": "api-call-service",
    "z": "flow_appliance_tracker",
    "name": "Send Notification",
    "server": "",
    "version": 5,
    "domain": "",
    "service": "",
    "entityId": [],
    "data": "",
    "dataType": "msg",
    "outputProperties": [],
    "queue": "none",
    "x": 860,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "dryer_power",
    "type": "trigger-state",
    "z": "flow_appliance_tracker",
    "name": "Dryer Power",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "entityId": "sensor.dryer_power",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [],
    "outputInitially": false,
    "stateType": "str",
    "x": 130,
    "y": 220,
    "wires": [
      ["dryer_state_machine"],
      []
    ]
  },
  {
    "id": "dryer_state_machine",
    "type": "function",
    "z": "flow_appliance_tracker",
    "name": "Dryer State Machine",
    "func": "// Configuration - Dryers use more power\nconst IDLE_THRESHOLD = 10;     // Watts\nconst RUNNING_THRESHOLD = 50;  // Watts - dryers use significant power\nconst FINISH_DELAY = 180000;   // 3 minutes for dryer\n\nconst power = parseFloat(msg.payload) || 0;\nconst now = Date.now();\n\nlet state = flow.get('dryerState') || {\n    status: 'idle',\n    startTime: null,\n    lastHighPower: null\n};\n\nconst previousStatus = state.status;\n\nswitch (state.status) {\n    case 'idle':\n        if (power > RUNNING_THRESHOLD) {\n            state.status = 'running';\n            state.startTime = now;\n            state.lastHighPower = now;\n            node.status({fill:'red', shape:'dot', text:'Running'});\n        }\n        break;\n    \n    case 'running':\n        if (power > RUNNING_THRESHOLD) {\n            state.lastHighPower = now;\n        } else if (power < IDLE_THRESHOLD) {\n            state.status = 'finishing';\n            node.status({fill:'yellow', shape:'ring', text:'Finishing?'});\n        }\n        break;\n    \n    case 'finishing':\n        if (power > RUNNING_THRESHOLD) {\n            state.status = 'running';\n            state.lastHighPower = now;\n            node.status({fill:'red', shape:'dot', text:'Still running'});\n        } else if (now - state.lastHighPower > FINISH_DELAY) {\n            const minutes = Math.round((now - state.startTime) / 60000);\n            \n            state.status = 'idle';\n            state.startTime = null;\n            \n            node.status({fill:'blue', shape:'ring', text:`Done (${minutes}min)`});\n            \n            msg.dryer = {\n                event: 'completed',\n                runtimeMinutes: minutes\n            };\n            \n            flow.set('dryerState', state);\n            return [msg, msg];\n        }\n        break;\n}\n\nflow.set('dryerState', state);\n\nmsg.dryer = {\n    status: state.status,\n    power: power\n};\n\nreturn [msg, null];",
    "outputs": 2,
    "x": 370,
    "y": 220,
    "wires": [
      [],
      ["dryer_complete"]
    ]
  },
  {
    "id": "dryer_complete",
    "type": "function",
    "z": "flow_appliance_tracker",
    "name": "Dryer Alert",
    "func": "msg.payload = {\n    action: 'notify.mobile_app_phone',\n    data: {\n        title: '👕 Dryer Complete!',\n        message: `Drying cycle finished in ${msg.dryer.runtimeMinutes} minutes.`\n    }\n};\nreturn msg;",
    "outputs": 1,
    "x": 600,
    "y": 220,
    "wires": [["notify_appliance"]]
  },
  {
    "id": "dishwasher_power",
    "type": "trigger-state",
    "z": "flow_appliance_tracker",
    "name": "Dishwasher Power",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "entityId": "sensor.dishwasher_power",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [],
    "outputInitially": false,
    "stateType": "str",
    "x": 150,
    "y": 320,
    "wires": [
      ["dishwasher_state_machine"],
      []
    ]
  },
  {
    "id": "dishwasher_state_machine",
    "type": "function",
    "z": "flow_appliance_tracker",
    "name": "Dishwasher State Machine",
    "func": "// Dishwashers have variable power - heating elements spike\nconst IDLE_THRESHOLD = 3;\nconst RUNNING_THRESHOLD = 5;\nconst FINISH_DELAY = 300000;  // 5 minutes - dishwashers have pauses\n\nconst power = parseFloat(msg.payload) || 0;\nconst now = Date.now();\n\nlet state = flow.get('dishwasherState') || {\n    status: 'idle',\n    startTime: null,\n    lastHighPower: null\n};\n\nswitch (state.status) {\n    case 'idle':\n        if (power > RUNNING_THRESHOLD) {\n            state.status = 'running';\n            state.startTime = now;\n            state.lastHighPower = now;\n            node.status({fill:'cyan', shape:'dot', text:'Running'});\n        }\n        break;\n    \n    case 'running':\n        if (power > RUNNING_THRESHOLD) {\n            state.lastHighPower = now;\n        } else if (power < IDLE_THRESHOLD && \n                   now - state.lastHighPower > FINISH_DELAY) {\n            const minutes = Math.round((now - state.startTime) / 60000);\n            \n            state.status = 'idle';\n            state.startTime = null;\n            \n            node.status({fill:'blue', shape:'ring', text:`Done (${minutes}min)`});\n            \n            msg.dishwasher = {\n                event: 'completed',\n                runtimeMinutes: minutes\n            };\n            \n            flow.set('dishwasherState', state);\n            return [msg, msg];\n        }\n        break;\n}\n\nflow.set('dishwasherState', state);\nreturn [msg, null];",
    "outputs": 2,
    "x": 390,
    "y": 320,
    "wires": [
      [],
      ["dishwasher_complete"]
    ]
  },
  {
    "id": "dishwasher_complete",
    "type": "function",
    "z": "flow_appliance_tracker",
    "name": "Dishwasher Alert",
    "func": "msg.payload = {\n    action: 'notify.mobile_app_phone',\n    data: {\n        title: '🍽️ Dishwasher Complete!',\n        message: `Wash cycle finished in ${msg.dishwasher.runtimeMinutes} minutes.`\n    }\n};\nreturn msg;",
    "outputs": 1,
    "x": 630,
    "y": 320,
    "wires": [["notify_appliance"]]
  },
  {
    "id": "get_appliance_status",
    "type": "inject",
    "z": "flow_appliance_tracker",
    "name": "Get All Status",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 130,
    "y": 420,
    "wires": [["show_all_status"]]
  },
  {
    "id": "show_all_status",
    "type": "function",
    "z": "flow_appliance_tracker",
    "name": "Show All Status",
    "func": "msg.payload = {\n    washer: flow.get('washerState') || { status: 'unknown' },\n    dryer: flow.get('dryerState') || { status: 'unknown' },\n    dishwasher: flow.get('dishwasherState') || { status: 'unknown' }\n};\nreturn msg;",
    "outputs": 1,
    "x": 320,
    "y": 420,
    "wires": [["debug_appliance"]]
  },
  {
    "id": "debug_appliance",
    "type": "debug",
    "z": "flow_appliance_tracker",
    "name": "Appliance Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 520,
    "y": 420,
    "wires": []
  },
  {
    "id": "comment_appliance",
    "type": "comment",
    "z": "flow_appliance_tracker",
    "name": "Configure power sensors and thresholds for each appliance",
    "info": "## Prerequisites\n1. Smart plugs with power monitoring\n2. Create input_select.washer_status (idle, running, finishing)\n\n## Setup\n1. Update power sensor entity IDs\n2. Adjust thresholds per appliance type\n3. Tune finish delays for your appliances\n4. Update notification service\n\n## Typical Thresholds\n- Washer: 10W running, 5W idle\n- Dryer: 50W running (heating), 10W idle\n- Dishwasher: 5W running, 3W idle (longer finish delay)",
    "x": 280,
    "y": 480,
    "wires": []
  }
]
