node-red/templates/basic-motion-light.json
[
  {
    "id": "flow_basic_motion",
    "type": "tab",
    "label": "Basic Motion Light",
    "info": "Simple motion-activated light with auto-off timer.\n\nGenerated by node-red@aurora-smart-home\nhttps://github.com/tonylofgren/aurora-smart-home"
  },
  {
    "id": "comment_config",
    "type": "comment",
    "z": "flow_basic_motion",
    "name": "⚙️ CONFIGURATION REQUIRED",
    "info": "1. Select your Home Assistant server in the trigger-state node\n2. Change entity IDs:\n   - Motion sensor: binary_sensor.motion_CHANGE_ME\n   - Light: light.CHANGE_ME\n3. Adjust timeout (default: 5 minutes)",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "motion_trigger",
    "type": "trigger-state",
    "z": "flow_basic_motion",
    "name": "Motion Detected",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor.motion_CHANGE_ME",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      }
    ],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "str",
    "enableInput": false,
    "x": 130,
    "y": 140,
    "wires": [
      ["light_on", "timer_reset"],
      []
    ],
    "outputLabels": ["Motion ON", "No match"]
  },
  {
    "id": "light_on",
    "type": "api-call-service",
    "z": "flow_basic_motion",
    "name": "Light ON",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["light.CHANGE_ME"],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 350,
    "y": 100,
    "wires": [
      ["debug_on"]
    ]
  },
  {
    "id": "timer_reset",
    "type": "trigger",
    "z": "flow_basic_motion",
    "name": "5 min timeout",
    "op1": "",
    "op2": "timeout",
    "op1type": "nul",
    "op2type": "str",
    "duration": "5",
    "extend": true,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 360,
    "y": 180,
    "wires": [
      ["light_off"]
    ]
  },
  {
    "id": "light_off",
    "type": "api-call-service",
    "z": "flow_basic_motion",
    "name": "Light OFF",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": ["light.CHANGE_ME"],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 550,
    "y": 180,
    "wires": [
      ["debug_off"]
    ]
  },
  {
    "id": "debug_on",
    "type": "debug",
    "z": "flow_basic_motion",
    "name": "Light ON",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "\"ON\"",
    "statusType": "jsonata",
    "x": 540,
    "y": 100,
    "wires": []
  },
  {
    "id": "debug_off",
    "type": "debug",
    "z": "flow_basic_motion",
    "name": "Light OFF",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "\"OFF\"",
    "statusType": "jsonata",
    "x": 740,
    "y": 180,
    "wires": []
  }
]
