node-red/templates/climate-control.json
[
  {
    "id": "flow_climate_control",
    "type": "tab",
    "label": "Climate Control",
    "disabled": false,
    "info": "Schedule-based climate control with presence awareness.\n\nGenerated by node-red@aurora-smart-home v1.0.0\nhttps://github.com/tonylofgren/aurora-smart-home\n\n## Features\n- Schedule-based temperature\n- Presence-aware adjustments\n- Window open detection\n- Energy saving mode"
  },
  {
    "id": "schedule_trigger",
    "type": "inject",
    "z": "flow_climate_control",
    "name": "Every 15 min",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "900",
    "crontab": "",
    "once": true,
    "onceDelay": "10",
    "topic": "",
    "payload": "check",
    "payloadType": "str",
    "x": 130,
    "y": 100,
    "wires": [["get_schedule"]]
  },
  {
    "id": "get_schedule",
    "type": "function",
    "z": "flow_climate_control",
    "name": "Get Schedule",
    "func": "// Climate schedule configuration\nconst SCHEDULES = {\n    weekday: [\n        { start: '06:00', end: '08:00', temp: 21, name: 'Morning' },\n        { start: '08:00', end: '17:00', temp: 18, name: 'Away' },\n        { start: '17:00', end: '22:00', temp: 21, name: 'Evening' },\n        { start: '22:00', end: '06:00', temp: 18, name: 'Night' }\n    ],\n    weekend: [\n        { start: '08:00', end: '23:00', temp: 21, name: 'Day' },\n        { start: '23:00', end: '08:00', temp: 18, name: 'Night' }\n    ]\n};\n\nconst now = new Date();\nconst day = now.getDay();\nconst isWeekend = day === 0 || day === 6;\nconst currentTime = now.toTimeString().slice(0, 5);\n\nconst schedule = isWeekend ? SCHEDULES.weekend : SCHEDULES.weekday;\n\n// Find current period\nlet targetTemp = 18; // default\nlet periodName = 'Default';\n\nfor (const period of schedule) {\n    const startMinutes = parseInt(period.start.split(':')[0]) * 60 + parseInt(period.start.split(':')[1]);\n    const endMinutes = parseInt(period.end.split(':')[0]) * 60 + parseInt(period.end.split(':')[1]);\n    const currentMinutes = now.getHours() * 60 + now.getMinutes();\n    \n    // Handle overnight periods\n    if (startMinutes > endMinutes) {\n        if (currentMinutes >= startMinutes || currentMinutes < endMinutes) {\n            targetTemp = period.temp;\n            periodName = period.name;\n            break;\n        }\n    } else if (currentMinutes >= startMinutes && currentMinutes < endMinutes) {\n        targetTemp = period.temp;\n        periodName = period.name;\n        break;\n    }\n}\n\nmsg.schedule = {\n    targetTemp: targetTemp,\n    period: periodName,\n    isWeekend: isWeekend\n};\n\nnode.status({fill:'blue', shape:'dot', text:`${periodName}: ${targetTemp}째C`});\nreturn msg;",
    "outputs": 1,
    "x": 310,
    "y": 100,
    "wires": [["check_presence_climate"]]
  },
  {
    "id": "check_presence_climate",
    "type": "function",
    "z": "flow_climate_control",
    "name": "Check Presence",
    "func": "// Adjust temperature based on presence\nconst ha = global.get('homeassistant').homeAssistant.states;\n\n// Check if anyone is home\nconst people = ['person.person1', 'person.person2'];\nconst anyoneHome = people.some(p => ha[p]?.state === 'home');\n\n// Check if home was recently left (within 30 min)\nconst lastPresence = flow.get('lastPresence') || Date.now();\nconst minutesAway = (Date.now() - lastPresence) / 60000;\n\nif (anyoneHome) {\n    flow.set('lastPresence', Date.now());\n}\n\n// Adjust target temperature\nlet adjustedTemp = msg.schedule.targetTemp;\nlet reason = msg.schedule.period;\n\nif (!anyoneHome) {\n    if (minutesAway > 60) {\n        // Away for more than 1 hour - eco mode\n        adjustedTemp = Math.min(adjustedTemp, 17);\n        reason = 'Away (eco)';\n    } else if (minutesAway > 30) {\n        // Recently left - slight reduction\n        adjustedTemp = adjustedTemp - 1;\n        reason = 'Away (recent)';\n    }\n}\n\nmsg.climate = {\n    targetTemp: adjustedTemp,\n    reason: reason,\n    anyoneHome: anyoneHome\n};\n\nnode.status({fill: anyoneHome ? 'green' : 'yellow', shape:'dot', text:`${reason}: ${adjustedTemp}째C`});\nreturn msg;",
    "outputs": 1,
    "x": 500,
    "y": 100,
    "wires": [["check_windows"]]
  },
  {
    "id": "check_windows",
    "type": "function",
    "z": "flow_climate_control",
    "name": "Check Windows",
    "func": "// Check if any windows are open\nconst ha = global.get('homeassistant').homeAssistant.states;\n\nconst windows = [\n    'binary_sensor.window_living_room',\n    'binary_sensor.window_bedroom',\n    'binary_sensor.window_kitchen'\n];\n\nconst openWindows = windows.filter(w => ha[w]?.state === 'on');\n\nmsg.climate.windowsOpen = openWindows.length > 0;\nmsg.climate.openWindowCount = openWindows.length;\n\nif (openWindows.length > 0) {\n    msg.climate.action = 'off';\n    msg.climate.reason = `Windows open (${openWindows.length})`;\n    node.status({fill:'red', shape:'ring', text:`${openWindows.length} windows open`});\n} else {\n    msg.climate.action = 'heat';\n    node.status({fill:'green', shape:'dot', text:'Windows closed'});\n}\n\nreturn msg;",
    "outputs": 1,
    "x": 690,
    "y": 100,
    "wires": [["apply_climate"]]
  },
  {
    "id": "apply_climate",
    "type": "function",
    "z": "flow_climate_control",
    "name": "Apply Climate",
    "func": "// Only apply if changed\nconst lastApplied = flow.get('lastClimate') || {};\n\nif (lastApplied.temp === msg.climate.targetTemp && \n    lastApplied.action === msg.climate.action) {\n    node.status({fill:'grey', shape:'ring', text:'No change'});\n    return null;\n}\n\n// Store last applied\nflow.set('lastClimate', {\n    temp: msg.climate.targetTemp,\n    action: msg.climate.action,\n    time: Date.now()\n});\n\nif (msg.climate.windowsOpen) {\n    // Turn off HVAC when windows open\n    msg.payload = {\n        action: 'climate.turn_off',\n        target: { entity_id: ['climate.living_room'] }\n    };\n} else {\n    // Set temperature\n    msg.payload = {\n        action: 'climate.set_temperature',\n        target: { entity_id: ['climate.living_room'] },\n        data: {\n            temperature: msg.climate.targetTemp,\n            hvac_mode: 'heat'\n        }\n    };\n}\n\nnode.status({fill:'blue', shape:'dot', text:`Set: ${msg.climate.targetTemp}째C`});\nreturn msg;",
    "outputs": 1,
    "x": 870,
    "y": 100,
    "wires": [["climate_service"]]
  },
  {
    "id": "climate_service",
    "type": "api-call-service",
    "z": "flow_climate_control",
    "name": "Climate Service",
    "server": "",
    "version": 5,
    "domain": "",
    "service": "",
    "entityId": [],
    "data": "",
    "dataType": "msg",
    "mergeContext": "",
    "outputProperties": [],
    "queue": "none",
    "x": 1050,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "window_opened",
    "type": "trigger-state",
    "z": "flow_climate_control",
    "name": "Window Opened",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "entityId": "binary_sensor.window",
    "entityIdType": "substring",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValue": "on"
      }
    ],
    "outputInitially": false,
    "stateType": "str",
    "x": 140,
    "y": 200,
    "wires": [
      ["immediate_off"],
      []
    ]
  },
  {
    "id": "immediate_off",
    "type": "api-call-service",
    "z": "flow_climate_control",
    "name": "HVAC Off",
    "server": "",
    "version": 5,
    "domain": "climate",
    "service": "turn_off",
    "entityId": ["climate.living_room"],
    "data": "",
    "dataType": "jsonata",
    "outputProperties": [],
    "queue": "none",
    "x": 340,
    "y": 200,
    "wires": [["notify_window"]]
  },
  {
    "id": "notify_window",
    "type": "api-call-service",
    "z": "flow_climate_control",
    "name": "Notify",
    "server": "",
    "version": 5,
    "domain": "notify",
    "service": "mobile_app_phone",
    "entityId": [],
    "data": "{\"title\":\"Climate\",\"message\":\"HVAC turned off - window opened\"}",
    "dataType": "json",
    "outputProperties": [],
    "queue": "none",
    "x": 510,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "manual_boost",
    "type": "inject",
    "z": "flow_climate_control",
    "name": "Boost (2 hours)",
    "props": [
      {
        "p": "payload",
        "v": "boost",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 140,
    "y": 300,
    "wires": [["boost_mode"]]
  },
  {
    "id": "boost_mode",
    "type": "function",
    "z": "flow_climate_control",
    "name": "Boost Mode",
    "func": "// Boost to 23째C for 2 hours\nflow.set('boostUntil', Date.now() + (2 * 60 * 60 * 1000));\n\nmsg.payload = {\n    action: 'climate.set_temperature',\n    target: { entity_id: ['climate.living_room'] },\n    data: {\n        temperature: 23,\n        hvac_mode: 'heat'\n    }\n};\n\nnode.status({fill:'red', shape:'dot', text:'Boost active'});\nreturn msg;",
    "outputs": 1,
    "x": 330,
    "y": 300,
    "wires": [["climate_service"]]
  },
  {
    "id": "comment_climate",
    "type": "comment",
    "z": "flow_climate_control",
    "name": "Configure schedules, entities, and people in function nodes",
    "info": "## Setup\n1. Update schedule in Get Schedule node\n2. Update climate entity IDs\n3. Update window sensor entity IDs\n4. Update person entities for presence\n5. Adjust boost temperature as needed\n\n## Features\n- Weekday/weekend schedules\n- Presence-based adjustments\n- Window open detection\n- Manual boost mode",
    "x": 260,
    "y": 360,
    "wires": []
  }
]
