node-red/templates/climate-control.json
[
  {
    "id": "flow_climate",
    "type": "tab",
    "label": "Climate Control",
    "info": "Temperature-based heating control with window detection.\n\nGenerated by node-red@aurora-smart-home\nhttps://github.com/tonylofgren/aurora-smart-home"
  },
  {
    "id": "comment_climate",
    "type": "comment",
    "z": "flow_climate",
    "name": "⚙️ CONFIGURATION REQUIRED",
    "info": "1. Select your Home Assistant server\n2. Update entity IDs:\n   - Temperature sensor: sensor.living_room_temperature_CHANGE_ME\n   - Target temp input: input_number.target_temperature_CHANGE_ME\n   - Climate entity: climate.thermostat_CHANGE_ME\n   - Window sensors (optional)",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "temp_trigger",
    "type": "trigger-state",
    "z": "flow_climate",
    "name": "Temperature Changed",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "sensor.living_room_temperature_CHANGE_ME",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "num",
    "enableInput": false,
    "x": 160,
    "y": 160,
    "wires": [
      ["climate_logic"],
      []
    ]
  },
  {
    "id": "target_trigger",
    "type": "trigger-state",
    "z": "flow_climate",
    "name": "Target Changed",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "input_number.target_temperature_CHANGE_ME",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "num",
    "enableInput": false,
    "x": 150,
    "y": 220,
    "wires": [
      ["climate_logic"],
      []
    ]
  },
  {
    "id": "climate_logic",
    "type": "function",
    "z": "flow_climate",
    "name": "Climate Control Logic",
    "func": "const states = global.get(\"homeassistant\").homeAssistant.states;\n\nconst tempSensor = \"sensor.living_room_temperature_CHANGE_ME\";\nconst targetInput = \"input_number.target_temperature_CHANGE_ME\";\nconst climateEntity = \"climate.thermostat_CHANGE_ME\";\n\nconst currentTemp = parseFloat(states[tempSensor]?.state);\nconst targetTemp = parseFloat(states[targetInput]?.state);\nconst hvacMode = states[climateEntity]?.state;\n\nconst hysteresis = 0.5;\n\n// Validate readings\nif (isNaN(currentTemp) || isNaN(targetTemp)) {\n    node.warn(\"Invalid temperature readings\");\n    return null;\n}\n\n// Check for open windows\nconst windowsOpen = Object.keys(states)\n    .filter(id => id.match(/binary_sensor\\.window_/))\n    .some(id => states[id].state === \"on\");\n\nif (windowsOpen) {\n    if (hvacMode !== \"off\") {\n        node.status({fill:\"yellow\",shape:\"ring\",text:\"windows open\"});\n        msg.payload = {\n            action: \"climate.set_hvac_mode\",\n            target: { entity_id: [climateEntity] },\n            data: { hvac_mode: \"off\" }\n        };\n        msg.reason = \"windows_open\";\n        return msg;\n    }\n    return null;\n}\n\n// Temperature control logic\nif (currentTemp < targetTemp - hysteresis && hvacMode !== \"heat\") {\n    node.status({fill:\"red\",shape:\"dot\",text:`${currentTemp}°C → heat`});\n    msg.payload = {\n        action: \"climate.set_hvac_mode\",\n        target: { entity_id: [climateEntity] },\n        data: { hvac_mode: \"heat\" }\n    };\n    msg.reason = \"too_cold\";\n    return msg;\n}\n\nif (currentTemp > targetTemp + hysteresis && hvacMode === \"heat\") {\n    node.status({fill:\"blue\",shape:\"dot\",text:`${currentTemp}°C → off`});\n    msg.payload = {\n        action: \"climate.set_hvac_mode\",\n        target: { entity_id: [climateEntity] },\n        data: { hvac_mode: \"off\" }\n    };\n    msg.reason = \"target_reached\";\n    return msg;\n}\n\nnode.status({fill:\"green\",shape:\"ring\",text:`${currentTemp}°C / ${targetTemp}°C`});\nreturn null;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 180,
    "wires": [
      ["set_climate", "debug_climate"]
    ]
  },
  {
    "id": "set_climate",
    "type": "api-call-service",
    "z": "flow_climate",
    "name": "Set Climate",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "",
    "service": "",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "msg",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 650,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "debug_climate",
    "type": "debug",
    "z": "flow_climate",
    "name": "Climate Action",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "reason",
    "targetType": "msg",
    "statusVal": "reason",
    "statusType": "msg",
    "x": 660,
    "y": 220,
    "wires": []
  },
  {
    "id": "window_trigger",
    "type": "trigger-state",
    "z": "flow_climate",
    "name": "Window Opened",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor\\.window_.+",
    "entityIdType": "regex",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      }
    ],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "str",
    "enableInput": false,
    "x": 150,
    "y": 320,
    "wires": [
      ["climate_logic"],
      []
    ]
  },
  {
    "id": "poll_climate",
    "type": "inject",
    "z": "flow_climate",
    "name": "Every 5 min",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": "10",
    "topic": "",
    "payload": "poll",
    "payloadType": "str",
    "x": 130,
    "y": 100,
    "wires": [
      ["climate_logic"]
    ]
  }
]
