node-red/templates/energy-monitor.json
[
  {
    "id": "flow_energy_monitor",
    "type": "tab",
    "label": "Energy Monitor",
    "disabled": false,
    "info": "Power consumption monitoring with alerts and statistics.\n\nGenerated by node-red@aurora-smart-home v1.0.0\nhttps://github.com/tonylofgren/aurora-smart-home\n\n## Features\n- Real-time power monitoring\n- Threshold alerts\n- Daily/monthly statistics\n- Cost calculations"
  },
  {
    "id": "power_monitor",
    "type": "trigger-state",
    "z": "flow_energy_monitor",
    "name": "Power Sensor",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "entityId": "sensor.power_consumption",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [],
    "outputInitially": false,
    "stateType": "str",
    "x": 130,
    "y": 100,
    "wires": [
      ["process_power"],
      []
    ]
  },
  {
    "id": "process_power",
    "type": "function",
    "z": "flow_energy_monitor",
    "name": "Process Power",
    "func": "// Configuration\nconst HIGH_THRESHOLD = 3000; // Watts\nconst CRITICAL_THRESHOLD = 5000; // Watts\n\nconst power = parseFloat(msg.payload) || 0;\nconst timestamp = Date.now();\n\n// Update statistics\nlet stats = flow.get('powerStats') || {\n    samples: [],\n    dailyTotal: 0,\n    lastReset: Date.now()\n};\n\n// Add sample (keep last hour)\nstats.samples.push({ power, time: timestamp });\nconst oneHourAgo = timestamp - (60 * 60 * 1000);\nstats.samples = stats.samples.filter(s => s.time > oneHourAgo);\n\n// Calculate stats\nconst avg = stats.samples.reduce((a, b) => a + b.power, 0) / stats.samples.length;\nconst max = Math.max(...stats.samples.map(s => s.power));\nconst min = Math.min(...stats.samples.map(s => s.power));\n\n// Daily reset check\nconst now = new Date();\nconst lastReset = new Date(stats.lastReset);\nif (now.getDate() !== lastReset.getDate()) {\n    stats.dailyTotal = 0;\n    stats.lastReset = timestamp;\n}\n\n// Accumulate daily energy (kWh)\nif (stats.samples.length > 1) {\n    const lastSample = stats.samples[stats.samples.length - 2];\n    const hoursDiff = (timestamp - lastSample.time) / (1000 * 60 * 60);\n    stats.dailyTotal += (power / 1000) * hoursDiff;\n}\n\nflow.set('powerStats', stats);\n\nmsg.power = {\n    current: power,\n    average: Math.round(avg),\n    max: max,\n    min: min,\n    dailyKwh: Math.round(stats.dailyTotal * 100) / 100,\n    sampleCount: stats.samples.length\n};\n\n// Determine alert level\nif (power >= CRITICAL_THRESHOLD) {\n    msg.alertLevel = 'critical';\n    node.status({fill:'red', shape:'dot', text:`${power}W CRITICAL`});\n    return [msg, null, msg];\n} else if (power >= HIGH_THRESHOLD) {\n    msg.alertLevel = 'high';\n    node.status({fill:'yellow', shape:'dot', text:`${power}W HIGH`});\n    return [msg, msg, null];\n} else {\n    msg.alertLevel = 'normal';\n    node.status({fill:'green', shape:'dot', text:`${power}W`});\n    return [msg, null, null];\n}",
    "outputs": 3,
    "x": 320,
    "y": 100,
    "wires": [
      ["update_sensors"],
      ["high_power_alert"],
      ["critical_power_alert"]
    ],
    "outputLabels": ["Always", "High Alert", "Critical Alert"]
  },
  {
    "id": "update_sensors",
    "type": "function",
    "z": "flow_energy_monitor",
    "name": "Update HA Sensors",
    "func": "// Update custom sensors in HA\nconst messages = [];\n\n// Average power sensor\nmessages.push({\n    payload: {\n        action: 'input_number.set_value',\n        target: { entity_id: ['input_number.power_average'] },\n        data: { value: msg.power.average }\n    }\n});\n\n// Daily energy sensor  \nmessages.push({\n    payload: {\n        action: 'input_number.set_value',\n        target: { entity_id: ['input_number.daily_energy_kwh'] },\n        data: { value: msg.power.dailyKwh }\n    }\n});\n\nreturn [messages];",
    "outputs": 1,
    "x": 560,
    "y": 60,
    "wires": [["sensor_service"]]
  },
  {
    "id": "sensor_service",
    "type": "api-call-service",
    "z": "flow_energy_monitor",
    "name": "Update Sensor",
    "server": "",
    "version": 5,
    "domain": "",
    "service": "",
    "entityId": [],
    "data": "",
    "dataType": "msg",
    "outputProperties": [],
    "queue": "none",
    "x": 770,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "high_power_alert",
    "type": "trigger",
    "z": "flow_energy_monitor",
    "name": "Debounce 5min",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "nul",
    "duration": "5",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 540,
    "y": 100,
    "wires": [["format_high_alert"]]
  },
  {
    "id": "critical_power_alert",
    "type": "trigger",
    "z": "flow_energy_monitor",
    "name": "Debounce 1min",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 540,
    "y": 140,
    "wires": [["format_critical_alert"]]
  },
  {
    "id": "format_high_alert",
    "type": "function",
    "z": "flow_energy_monitor",
    "name": "High Alert",
    "func": "msg.payload = {\n    action: 'notify.mobile_app_phone',\n    data: {\n        title: '⚡ High Power Usage',\n        message: `Current: ${msg.power.current}W\\nAverage: ${msg.power.average}W\\nDaily: ${msg.power.dailyKwh} kWh`\n    }\n};\nreturn msg;",
    "outputs": 1,
    "x": 730,
    "y": 100,
    "wires": [["notify_service"]]
  },
  {
    "id": "format_critical_alert",
    "type": "function",
    "z": "flow_energy_monitor",
    "name": "Critical Alert",
    "func": "msg.payload = {\n    action: 'notify.mobile_app_phone',\n    data: {\n        title: '🚨 CRITICAL Power Usage!',\n        message: `Power: ${msg.power.current}W exceeds safe limit!\\nCheck for issues immediately.`,\n        data: {\n            push: {\n                sound: { name: 'default', critical: 1, volume: 0.8 }\n            }\n        }\n    }\n};\nreturn msg;",
    "outputs": 1,
    "x": 740,
    "y": 140,
    "wires": [["notify_service"]]
  },
  {
    "id": "notify_service",
    "type": "api-call-service",
    "z": "flow_energy_monitor",
    "name": "Send Alert",
    "server": "",
    "version": 5,
    "domain": "",
    "service": "",
    "entityId": [],
    "data": "",
    "dataType": "msg",
    "outputProperties": [],
    "queue": "none",
    "x": 930,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "daily_report_trigger",
    "type": "inject",
    "z": "flow_energy_monitor",
    "name": "Daily Report (10 PM)",
    "props": [],
    "repeat": "",
    "crontab": "0 22 * * *",
    "once": false,
    "topic": "",
    "x": 160,
    "y": 240,
    "wires": [["generate_report"]]
  },
  {
    "id": "generate_report",
    "type": "function",
    "z": "flow_energy_monitor",
    "name": "Generate Report",
    "func": "// Get today's statistics\nconst stats = flow.get('powerStats') || { dailyTotal: 0, samples: [] };\n\n// Cost calculation (example rate)\nconst COST_PER_KWH = 1.50; // SEK\nconst dailyCost = Math.round(stats.dailyTotal * COST_PER_KWH * 100) / 100;\n\n// Get monthly accumulation\nlet monthly = flow.get('monthlyStats') || { total: 0, days: 0 };\nmonthly.total += stats.dailyTotal;\nmonthly.days += 1;\n\n// Reset monthly at start of month\nconst now = new Date();\nif (now.getDate() === 1 && monthly.days > 1) {\n    monthly = { total: 0, days: 0 };\n}\nflow.set('monthlyStats', monthly);\n\nconst avgDaily = monthly.days > 0 ? Math.round(monthly.total / monthly.days * 100) / 100 : 0;\n\nmsg.payload = {\n    action: 'notify.mobile_app_phone',\n    data: {\n        title: '📊 Daily Energy Report',\n        message: `Today: ${Math.round(stats.dailyTotal * 100) / 100} kWh (${dailyCost} SEK)\\n` +\n                 `Monthly avg: ${avgDaily} kWh/day\\n` +\n                 `Month total: ${Math.round(monthly.total * 100) / 100} kWh`\n    }\n};\n\nnode.status({fill:'blue', shape:'dot', text:`Report: ${stats.dailyTotal.toFixed(2)} kWh`});\nreturn msg;",
    "outputs": 1,
    "x": 380,
    "y": 240,
    "wires": [["notify_service"]]
  },
  {
    "id": "manual_report",
    "type": "inject",
    "z": "flow_energy_monitor",
    "name": "Get Report Now",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 140,
    "y": 300,
    "wires": [["generate_report"]]
  },
  {
    "id": "get_stats",
    "type": "inject",
    "z": "flow_energy_monitor",
    "name": "Get Stats",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 120,
    "y": 360,
    "wires": [["show_stats"]]
  },
  {
    "id": "show_stats",
    "type": "function",
    "z": "flow_energy_monitor",
    "name": "Show Stats",
    "func": "const stats = flow.get('powerStats') || {};\nconst monthly = flow.get('monthlyStats') || {};\n\nmsg.payload = {\n    current: stats.samples?.[stats.samples.length - 1]?.power || 0,\n    sampleCount: stats.samples?.length || 0,\n    dailyKwh: Math.round((stats.dailyTotal || 0) * 100) / 100,\n    monthlyKwh: Math.round((monthly.total || 0) * 100) / 100,\n    monthDays: monthly.days || 0\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 290,
    "y": 360,
    "wires": [["debug_energy"]]
  },
  {
    "id": "debug_energy",
    "type": "debug",
    "z": "flow_energy_monitor",
    "name": "Energy Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 470,
    "y": 360,
    "wires": []
  },
  {
    "id": "comment_energy",
    "type": "comment",
    "z": "flow_energy_monitor",
    "name": "Configure power sensor and thresholds in Process Power node",
    "info": "## Prerequisites\n1. Create input_number helpers in HA:\n   - input_number.power_average\n   - input_number.daily_energy_kwh\n\n2. Update power sensor entity ID\n3. Adjust thresholds (default: 3000W high, 5000W critical)\n4. Set electricity cost per kWh\n\n## Features\n- Real-time monitoring\n- High/critical power alerts\n- Daily energy reports\n- Monthly statistics",
    "x": 280,
    "y": 420,
    "wires": []
  }
]
