node-red/templates/energy-monitor.json
[
  {
    "id": "flow_energy",
    "type": "tab",
    "label": "Energy Monitor",
    "info": "Track energy usage and alert on high consumption.\n\nGenerated by node-red@aurora-smart-home\nhttps://github.com/tonylofgren/aurora-smart-home"
  },
  {
    "id": "comment_energy",
    "type": "comment",
    "z": "flow_energy",
    "name": "⚙️ CONFIGURATION REQUIRED",
    "info": "1. Select your Home Assistant server\n2. Update entity IDs:\n   - Power sensor: sensor.home_power_CHANGE_ME\n   - Energy sensor: sensor.home_energy_CHANGE_ME\n3. Adjust thresholds in function node",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "power_poll",
    "type": "poll-state",
    "z": "flow_energy",
    "name": "Power Sensor",
    "server": "",
    "version": 4,
    "exposeAsEntityConfig": "",
    "updateInterval": "30",
    "updateIntervalUnits": "seconds",
    "outputInitially": true,
    "outputOnChanged": false,
    "entity_id": "sensor.home_power_CHANGE_ME",
    "stateType": "num",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "x": 130,
    "y": 140,
    "wires": [
      ["track_power"]
    ]
  },
  {
    "id": "track_power",
    "type": "function",
    "z": "flow_energy",
    "name": "Track & Alert",
    "func": "const power = parseFloat(msg.payload);\nconst HIGH_THRESHOLD = 3000; // Watts\nconst ALERT_COOLDOWN = 30 * 60 * 1000; // 30 minutes\n\n// Track power history\nlet history = flow.get('powerHistory') || [];\nhistory.push({ time: Date.now(), power: power });\n\n// Keep last hour\nconst oneHourAgo = Date.now() - (60 * 60 * 1000);\nhistory = history.filter(h => h.time > oneHourAgo);\nflow.set('powerHistory', history);\n\n// Calculate stats\nconst values = history.map(h => h.power);\nconst average = values.reduce((a, b) => a + b, 0) / values.length;\nconst max = Math.max(...values);\nconst min = Math.min(...values);\n\nmsg.stats = {\n    current: power,\n    average: Math.round(average),\n    max: max,\n    min: min,\n    samples: values.length\n};\n\n// Check for high power alert\nconst lastAlert = flow.get('lastHighPowerAlert') || 0;\nconst canAlert = Date.now() - lastAlert > ALERT_COOLDOWN;\n\nif (power > HIGH_THRESHOLD && canAlert) {\n    flow.set('lastHighPowerAlert', Date.now());\n    node.status({fill:\"red\",shape:\"dot\",text:`HIGH: ${power}W`});\n    msg.alert = {\n        type: \"high_power\",\n        message: `High power consumption: ${power}W (threshold: ${HIGH_THRESHOLD}W)`\n    };\n    return [msg, msg]; // Output 1: stats, Output 2: alert\n}\n\nnode.status({fill:\"green\",shape:\"dot\",text:`${power}W (avg: ${Math.round(average)}W)`});\nreturn [msg, null];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 140,
    "wires": [
      ["debug_stats"],
      ["send_alert"]
    ],
    "outputLabels": ["Stats", "Alert"]
  },
  {
    "id": "send_alert",
    "type": "api-call-service",
    "z": "flow_energy",
    "name": "Send Alert",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "notify",
    "service": "persistent_notification",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"title\": \"Energy Alert\", \"message\": \"{{ alert.message }}\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 550,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "debug_stats",
    "type": "debug",
    "z": "flow_energy",
    "name": "Power Stats",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "stats.current",
    "targetType": "msg",
    "statusVal": "stats.current & \" W\"",
    "statusType": "jsonata",
    "x": 550,
    "y": 100,
    "wires": []
  },
  {
    "id": "daily_summary",
    "type": "inject",
    "z": "flow_energy",
    "name": "Daily at 23:00",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "0 23 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "summary",
    "payloadType": "str",
    "x": 140,
    "y": 280,
    "wires": [
      ["generate_summary"]
    ]
  },
  {
    "id": "generate_summary",
    "type": "function",
    "z": "flow_energy",
    "name": "Daily Summary",
    "func": "const states = global.get(\"homeassistant\").homeAssistant.states;\n\nconst energyToday = parseFloat(states[\"sensor.home_energy_CHANGE_ME\"]?.state) || 0;\nconst pricePerKwh = 1.50; // SEK - adjust for your rate\nconst cost = Math.round(energyToday * pricePerKwh * 100) / 100;\n\nconst history = flow.get('powerHistory') || [];\nconst peakPower = history.length > 0 \n    ? Math.max(...history.map(h => h.power)) \n    : 0;\n\nmsg.payload = {\n    action: \"notify.persistent_notification\",\n    data: {\n        title: \"Daily Energy Summary\",\n        message: `Energy: ${energyToday} kWh\\nCost: ${cost} kr\\nPeak power: ${peakPower} W`\n    }\n};\n\n// Clear history for next day\nflow.set('powerHistory', []);\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 280,
    "wires": [
      ["send_summary"]
    ]
  },
  {
    "id": "send_summary",
    "type": "api-call-service",
    "z": "flow_energy",
    "name": "Send Summary",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "",
    "service": "",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "msg",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 570,
    "y": 280,
    "wires": [
      []
    ]
  }
]
