node-red/templates/notification-router.json
[
  {
    "id": "flow_notification_router",
    "type": "tab",
    "label": "Notification Router",
    "disabled": false,
    "info": "Smart notification routing based on priority and presence.\n\nGenerated by node-red@aurora-smart-home v1.0.0\nhttps://github.com/tonylofgren/aurora-smart-home\n\n## Features\n- Priority-based routing\n- Presence-aware delivery\n- Rate limiting\n- Notification aggregation"
  },
  {
    "id": "notify_input",
    "type": "link in",
    "z": "flow_notification_router",
    "name": "Notification In",
    "links": [],
    "x": 75,
    "y": 100,
    "wires": [["rate_limiter"]]
  },
  {
    "id": "rate_limiter",
    "type": "function",
    "z": "flow_notification_router",
    "name": "Rate Limiter",
    "func": "// Rate limit notifications per category\nconst RATE_LIMIT_MS = 60000; // 1 minute\nconst category = msg.notification?.category || 'default';\n\nconst lastSent = flow.get(`lastNotify_${category}`) || 0;\nconst now = Date.now();\n\n// Allow critical notifications through always\nif (msg.notification?.priority === 'critical') {\n    flow.set(`lastNotify_${category}`, now);\n    node.status({fill:'red', shape:'dot', text:'Critical - sent'});\n    return msg;\n}\n\n// Rate limit other notifications\nif (now - lastSent < RATE_LIMIT_MS) {\n    // Aggregate with pending\n    let pending = flow.get(`pending_${category}`) || [];\n    pending.push(msg.notification);\n    flow.set(`pending_${category}`, pending);\n    node.status({fill:'yellow', shape:'ring', text:`Queued: ${pending.length}`});\n    return null;\n}\n\nflow.set(`lastNotify_${category}`, now);\nnode.status({fill:'green', shape:'dot', text:'Sent'});\nreturn msg;",
    "outputs": 1,
    "x": 230,
    "y": 100,
    "wires": [["check_presence"]]
  },
  {
    "id": "check_presence",
    "type": "function",
    "z": "flow_notification_router",
    "name": "Check Presence",
    "func": "// Determine who should receive notification\nconst ha = global.get('homeassistant').homeAssistant.states;\n\nconst people = [\n    { name: 'person1', entity: 'person.person1', device: 'mobile_app_person1' },\n    { name: 'person2', entity: 'person.person2', device: 'mobile_app_person2' }\n];\n\n// Get notification config\nconst notification = msg.notification || {\n    title: 'Home Assistant',\n    message: msg.payload,\n    priority: 'normal'\n};\n\n// Determine recipients based on presence and priority\nlet recipients = [];\n\nfor (const person of people) {\n    const isHome = ha[person.entity]?.state === 'home';\n    \n    // Critical: always send\n    // High: send to away people first, home people if all away\n    // Normal: send to away people only\n    // Low: aggregate and send digest\n    \n    if (notification.priority === 'critical') {\n        recipients.push(person.device);\n    } else if (notification.priority === 'high') {\n        if (!isHome) recipients.push(person.device);\n    } else if (!isHome) {\n        recipients.push(person.device);\n    }\n}\n\n// If no away people for high priority, send to home people\nif (recipients.length === 0 && notification.priority === 'high') {\n    recipients = people.map(p => p.device);\n}\n\nmsg.recipients = recipients;\nmsg.notification = notification;\n\nnode.status({fill:'blue', shape:'dot', text:`Recipients: ${recipients.length}`});\n\nif (recipients.length === 0) {\n    return null; // No one to notify\n}\n\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 100,
    "wires": [["priority_router"]]
  },
  {
    "id": "priority_router",
    "type": "switch",
    "z": "flow_notification_router",
    "name": "Priority Router",
    "property": "notification.priority",
    "propertyType": "msg",
    "rules": [
      {"t": "eq", "v": "critical", "vt": "str"},
      {"t": "eq", "v": "high", "vt": "str"},
      {"t": "eq", "v": "normal", "vt": "str"},
      {"t": "else"}
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 620,
    "y": 100,
    "wires": [
      ["critical_notify"],
      ["high_notify"],
      ["normal_notify"],
      ["low_notify"]
    ],
    "outputLabels": ["Critical", "High", "Normal", "Low"]
  },
  {
    "id": "critical_notify",
    "type": "function",
    "z": "flow_notification_router",
    "name": "Critical Format",
    "func": "// Format critical notification with alarm sound\nconst messages = [];\n\nfor (const recipient of msg.recipients) {\n    messages.push({\n        payload: {\n            action: 'notify.' + recipient,\n            data: {\n                title: '🚨 ' + msg.notification.title,\n                message: msg.notification.message,\n                data: {\n                    push: {\n                        sound: {\n                            name: 'default',\n                            critical: 1,\n                            volume: 1.0\n                        }\n                    },\n                    ttl: 0,\n                    priority: 'high'\n                }\n            }\n        }\n    });\n}\n\nreturn [messages];",
    "outputs": 1,
    "x": 830,
    "y": 40,
    "wires": [["send_notify"]]
  },
  {
    "id": "high_notify",
    "type": "function",
    "z": "flow_notification_router",
    "name": "High Format",
    "func": "// Format high priority notification\nconst messages = [];\n\nfor (const recipient of msg.recipients) {\n    messages.push({\n        payload: {\n            action: 'notify.' + recipient,\n            data: {\n                title: '⚠️ ' + msg.notification.title,\n                message: msg.notification.message,\n                data: {\n                    ttl: 0,\n                    priority: 'high'\n                }\n            }\n        }\n    });\n}\n\nreturn [messages];",
    "outputs": 1,
    "x": 820,
    "y": 80,
    "wires": [["send_notify"]]
  },
  {
    "id": "normal_notify",
    "type": "function",
    "z": "flow_notification_router",
    "name": "Normal Format",
    "func": "// Format normal notification\nconst messages = [];\n\nfor (const recipient of msg.recipients) {\n    messages.push({\n        payload: {\n            action: 'notify.' + recipient,\n            data: {\n                title: msg.notification.title,\n                message: msg.notification.message\n            }\n        }\n    });\n}\n\nreturn [messages];",
    "outputs": 1,
    "x": 830,
    "y": 120,
    "wires": [["send_notify"]]
  },
  {
    "id": "low_notify",
    "type": "function",
    "z": "flow_notification_router",
    "name": "Queue for Digest",
    "func": "// Queue low priority for daily digest\nlet digest = flow.get('notificationDigest') || [];\ndigest.push({\n    time: new Date().toISOString(),\n    title: msg.notification.title,\n    message: msg.notification.message\n});\nflow.set('notificationDigest', digest);\n\nnode.status({fill:'grey', shape:'ring', text:`Digest: ${digest.length} items`});\nreturn null;",
    "outputs": 1,
    "x": 840,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "send_notify",
    "type": "api-call-service",
    "z": "flow_notification_router",
    "name": "Send Notification",
    "server": "",
    "version": 5,
    "domain": "",
    "service": "",
    "entityId": [],
    "data": "",
    "dataType": "msg",
    "mergeContext": "",
    "outputProperties": [],
    "queue": "none",
    "x": 1030,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "digest_trigger",
    "type": "inject",
    "z": "flow_notification_router",
    "name": "Daily Digest (8 AM)",
    "props": [],
    "repeat": "",
    "crontab": "0 8 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 160,
    "y": 220,
    "wires": [["send_digest"]]
  },
  {
    "id": "send_digest",
    "type": "function",
    "z": "flow_notification_router",
    "name": "Send Digest",
    "func": "const digest = flow.get('notificationDigest') || [];\n\nif (digest.length === 0) {\n    node.status({fill:'grey', shape:'ring', text:'No items'});\n    return null;\n}\n\n// Create digest message\nlet message = `${digest.length} notifications:\\n\\n`;\nfor (const item of digest) {\n    message += `• ${item.title}\\n`;\n}\n\n// Clear digest\nflow.set('notificationDigest', []);\n\nmsg.payload = {\n    action: 'notify.mobile_app_phone',\n    data: {\n        title: '📋 Daily Digest',\n        message: message\n    }\n};\n\nnode.status({fill:'green', shape:'dot', text:`Sent ${digest.length} items`});\nreturn msg;",
    "outputs": 1,
    "x": 370,
    "y": 220,
    "wires": [["send_notify"]]
  },
  {
    "id": "example_notify",
    "type": "inject",
    "z": "flow_notification_router",
    "name": "Test Normal",
    "props": [
      {
        "p": "notification",
        "v": "{\"title\":\"Test\",\"message\":\"This is a test notification\",\"priority\":\"normal\",\"category\":\"test\"}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 130,
    "y": 300,
    "wires": [["rate_limiter"]]
  },
  {
    "id": "comment_notify",
    "type": "comment",
    "z": "flow_notification_router",
    "name": "Configure people and devices in Check Presence node",
    "info": "## Setup\n1. Update person entities in Check Presence\n2. Update mobile app device names\n3. Connect your flows to 'Notification In' link node\n4. Set notification priority: critical, high, normal, low\n\n## Usage\nmsg.notification = {\n    title: 'Alert',\n    message: 'Something happened',\n    priority: 'high',\n    category: 'security'\n}",
    "x": 250,
    "y": 360,
    "wires": []
  }
]
