node-red/templates/notification-router.json
[
  {
    "id": "flow_notify",
    "type": "tab",
    "label": "Notification Router",
    "info": "Smart notification routing based on:\n- Time of day (quiet hours)\n- Presence (who's home)\n- Priority levels\n\nGenerated by node-red@aurora-smart-home\nhttps://github.com/tonylofgren/aurora-smart-home"
  },
  {
    "id": "comment_notify",
    "type": "comment",
    "z": "flow_notify",
    "name": "⚙️ CONFIGURATION REQUIRED",
    "info": "1. Select your Home Assistant server\n2. Update notification service names:\n   - mobile_app_john_phone\n   - mobile_app_jane_phone\n3. Adjust quiet hours in function node",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "notify_input",
    "type": "link in",
    "z": "flow_notify",
    "name": "Notify Input",
    "links": [],
    "x": 75,
    "y": 140,
    "wires": [
      ["route_notification"]
    ]
  },
  {
    "id": "inject_test",
    "type": "inject",
    "z": "flow_notify",
    "name": "Test Notification",
    "props": [
      {
        "p": "title",
        "v": "Test Alert",
        "vt": "str"
      },
      {
        "p": "message",
        "v": "This is a test notification",
        "vt": "str"
      },
      {
        "p": "priority",
        "v": "normal",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 130,
    "y": 80,
    "wires": [
      ["route_notification"]
    ]
  },
  {
    "id": "route_notification",
    "type": "function",
    "z": "flow_notify",
    "name": "Route by Presence & Time",
    "func": "const states = global.get(\"homeassistant\").homeAssistant.states;\nconst hour = new Date().getHours();\n\nconst title = msg.title || 'Notification';\nconst message = msg.message || msg.payload;\nconst priority = msg.priority || 'normal';\n\n// Quiet hours: 23:00 - 07:00\nconst isQuietHours = hour >= 23 || hour < 7;\n\n// Get people who are home\nconst peopleHome = [];\nif (states['person.john']?.state === 'home') peopleHome.push('john');\nif (states['person.jane']?.state === 'home') peopleHome.push('jane');\n\n// During quiet hours, only critical notifications\nif (isQuietHours && priority !== 'critical') {\n    node.status({fill:\"grey\",shape:\"ring\",text:\"quiet hours\"});\n    return null;\n}\n\n// Build notification targets\nconst targets = [];\n\n// Notify people who are home, or everyone if no one home\nif (peopleHome.length === 0 || priority === 'critical') {\n    // No one home or critical - notify everyone\n    targets.push('mobile_app_john_phone');\n    targets.push('mobile_app_jane_phone');\n} else {\n    // Notify only people who are home\n    if (peopleHome.includes('john')) targets.push('mobile_app_john_phone');\n    if (peopleHome.includes('jane')) targets.push('mobile_app_jane_phone');\n}\n\n// Add timestamp\nconst timestamp = new Date().toLocaleTimeString('sv-SE', {hour: '2-digit', minute: '2-digit'});\n\nmsg.notifications = targets.map(target => ({\n    action: `notify.${target}`,\n    data: {\n        title: title,\n        message: `[${timestamp}] ${message}`,\n        data: {\n            priority: priority === 'critical' ? 'high' : 'normal',\n            ttl: 0,\n            importance: priority === 'critical' ? 'high' : 'default'\n        }\n    }\n}));\n\nmsg.targetCount = targets.length;\nnode.status({fill:\"green\",shape:\"dot\",text:`${targets.length} targets`});\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 140,
    "wires": [
      ["split_notifications"]
    ]
  },
  {
    "id": "split_notifications",
    "type": "split",
    "z": "flow_notify",
    "name": "Split Targets",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "property": "notifications",
    "x": 550,
    "y": 140,
    "wires": [
      ["send_notification"]
    ]
  },
  {
    "id": "send_notification",
    "type": "function",
    "z": "flow_notify",
    "name": "Prepare Service Call",
    "func": "msg.payload = msg.payload;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 140,
    "wires": [
      ["call_notify"]
    ]
  },
  {
    "id": "call_notify",
    "type": "api-call-service",
    "z": "flow_notify",
    "name": "Send Notification",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "",
    "service": "",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "msg",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 950,
    "y": 140,
    "wires": [
      ["debug_sent"]
    ]
  },
  {
    "id": "debug_sent",
    "type": "debug",
    "z": "flow_notify",
    "name": "Sent",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload.action",
    "targetType": "msg",
    "statusVal": "payload.action",
    "statusType": "msg",
    "x": 1130,
    "y": 140,
    "wires": []
  },
  {
    "id": "comment_usage",
    "type": "comment",
    "z": "flow_notify",
    "name": "📝 Usage: Send messages to link-in node",
    "info": "Send notifications by linking to this flow:\n\n```javascript\n// In a function node\nmsg.title = \"Motion Detected\";\nmsg.message = \"Movement in the living room\";\nmsg.priority = \"normal\"; // or \"critical\"\nreturn msg;\n```\n\nOr use link-call for synchronous notifications.",
    "x": 190,
    "y": 220,
    "wires": []
  }
]
