node-red/templates/presence-detection.json
[
  {
    "id": "flow_presence",
    "type": "tab",
    "label": "Presence Detection",
    "info": "Detect when:\n- First person arrives home\n- Last person leaves\n\nGenerated by node-red@aurora-smart-home\nhttps://github.com/tonylofgren/aurora-smart-home"
  },
  {
    "id": "comment_presence",
    "type": "comment",
    "z": "flow_presence",
    "name": "⚙️ CONFIGURATION REQUIRED",
    "info": "1. Select your Home Assistant server\n2. Update person entities in the trigger node:\n   - Use regex: person\\.(john|jane|kids)\n   - Or list specific: person.john, person.jane\n3. Configure arrival/departure actions",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "person_trigger",
    "type": "trigger-state",
    "z": "flow_presence",
    "name": "Person State Changed",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "person\\..+",
    "entityIdType": "regex",
    "debugEnabled": false,
    "constraints": [],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "str",
    "enableInput": false,
    "x": 160,
    "y": 140,
    "wires": [
      ["presence_logic"],
      []
    ]
  },
  {
    "id": "presence_logic",
    "type": "function",
    "z": "flow_presence",
    "name": "First Home / Last Leave",
    "func": "const states = global.get(\"homeassistant\").homeAssistant.states;\nconst changedPerson = msg.data.entity_id;\nconst newState = msg.payload;\nconst oldState = msg.data.old_state?.state;\n\n// Skip if not a home/not_home transition\nif (newState === oldState) {\n    return [null, null];\n}\n\n// Get all other persons (excluding the one that just changed)\nconst otherPeople = Object.keys(states)\n    .filter(id => id.startsWith(\"person.\"))\n    .filter(id => id !== changedPerson);\n\n// Check if anyone else is home\nconst othersHome = otherPeople.some(id => states[id].state === \"home\");\n\n// Determine event type\nif (newState === \"home\" && oldState !== \"home\") {\n    // Someone arrived\n    if (!othersHome) {\n        // First person arriving\n        msg.event = \"first_home\";\n        msg.person = changedPerson.replace(\"person.\", \"\");\n        msg.payload = {\n            event: \"first_home\",\n            person: msg.person,\n            message: `${states[changedPerson].attributes.friendly_name} arrived home (first person)`\n        };\n        node.status({fill:\"green\",shape:\"dot\",text:\"first home\"});\n        return [msg, null];\n    }\n} else if (newState !== \"home\" && oldState === \"home\") {\n    // Someone left\n    if (!othersHome) {\n        // Last person leaving\n        msg.event = \"last_leave\";\n        msg.person = changedPerson.replace(\"person.\", \"\");\n        msg.payload = {\n            event: \"last_leave\",\n            person: msg.person,\n            message: `${states[changedPerson].attributes.friendly_name} left (last person)`\n        };\n        node.status({fill:\"red\",shape:\"dot\",text:\"last leave\"});\n        return [null, msg];\n    }\n}\n\nnode.status({});\nreturn [null, null];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 140,
    "wires": [
      ["arrival_actions", "debug_arrival"],
      ["departure_actions", "debug_departure"]
    ],
    "outputLabels": ["First Home", "Last Leave"]
  },
  {
    "id": "arrival_actions",
    "type": "api-call-service",
    "z": "flow_presence",
    "name": "Welcome Home",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "script",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["script.welcome_home"],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 670,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "departure_actions",
    "type": "api-call-service",
    "z": "flow_presence",
    "name": "Away Mode",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "script",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["script.away_mode"],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 660,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "debug_arrival",
    "type": "debug",
    "z": "flow_presence",
    "name": "First Home",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload.message",
    "targetType": "msg",
    "statusVal": "payload.message",
    "statusType": "msg",
    "x": 670,
    "y": 60,
    "wires": []
  },
  {
    "id": "debug_departure",
    "type": "debug",
    "z": "flow_presence",
    "name": "Last Leave",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload.message",
    "targetType": "msg",
    "statusVal": "payload.message",
    "statusType": "msg",
    "x": 670,
    "y": 220,
    "wires": []
  },
  {
    "id": "comment_scripts",
    "type": "comment",
    "z": "flow_presence",
    "name": "📝 Create these scripts in HA",
    "info": "Create scripts in Home Assistant:\n\n**script.welcome_home:**\n```yaml\nalias: Welcome Home\nsequence:\n  - service: light.turn_on\n    target:\n      area_id: living_room\n  - service: climate.set_hvac_mode\n    target:\n      entity_id: climate.thermostat\n    data:\n      hvac_mode: heat\n```\n\n**script.away_mode:**\n```yaml\nalias: Away Mode\nsequence:\n  - service: light.turn_off\n    target:\n      entity_id: all\n  - service: climate.set_hvac_mode\n    target:\n      entity_id: climate.thermostat\n    data:\n      hvac_mode: eco\n  - service: alarm_control_panel.arm_away\n    target:\n      entity_id: alarm_control_panel.home\n```",
    "x": 170,
    "y": 280,
    "wires": []
  }
]
