node-red/templates/presence-detection.json
[
  {
    "id": "flow_presence_detection",
    "type": "tab",
    "label": "Presence Detection",
    "disabled": false,
    "info": "Multi-sensor room presence detection with configurable timeout.\n\nGenerated by node-red@aurora-smart-home v1.0.0\nhttps://github.com/tonylofgren/aurora-smart-home\n\n## Features\n- Combines multiple motion sensors\n- Configurable presence timeout\n- Room occupancy tracking\n- State persistence"
  },
  {
    "id": "motion_sensor_1",
    "type": "trigger-state",
    "z": "flow_presence_detection",
    "name": "Motion Sensor 1",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "entityId": "binary_sensor.motion_room_1",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValue": "on"
      }
    ],
    "outputInitially": false,
    "stateType": "str",
    "x": 130,
    "y": 80,
    "wires": [
      ["presence_handler"],
      []
    ]
  },
  {
    "id": "motion_sensor_2",
    "type": "trigger-state",
    "z": "flow_presence_detection",
    "name": "Motion Sensor 2",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "entityId": "binary_sensor.motion_room_2",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValue": "on"
      }
    ],
    "outputInitially": false,
    "stateType": "str",
    "x": 130,
    "y": 140,
    "wires": [
      ["presence_handler"],
      []
    ]
  },
  {
    "id": "door_sensor",
    "type": "trigger-state",
    "z": "flow_presence_detection",
    "name": "Door Sensor",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "entityId": "binary_sensor.door_room",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValue": "on"
      }
    ],
    "outputInitially": false,
    "stateType": "str",
    "x": 120,
    "y": 200,
    "wires": [
      ["presence_handler"],
      []
    ]
  },
  {
    "id": "presence_handler",
    "type": "function",
    "z": "flow_presence_detection",
    "name": "Presence Handler",
    "func": "// Configuration\nconst ROOM_NAME = 'living_room';\nconst TIMEOUT_MINUTES = 10;\n\n// Get current presence state\nlet presence = flow.get('presence') || {\n    occupied: false,\n    lastActivity: 0,\n    sensors: {}\n};\n\n// Update activity time\npresence.lastActivity = Date.now();\npresence.sensors[msg.data.entity_id] = {\n    state: msg.payload,\n    time: Date.now()\n};\n\n// Check if was previously unoccupied\nconst wasUnoccupied = !presence.occupied;\n\n// Mark as occupied\npresence.occupied = true;\nflow.set('presence', presence);\n\n// Prepare output\nmsg.presence = {\n    room: ROOM_NAME,\n    occupied: true,\n    trigger: msg.data.entity_id,\n    wasUnoccupied: wasUnoccupied\n};\n\nnode.status({fill:'green', shape:'dot', text:`Occupied - ${new Date().toLocaleTimeString()}`});\n\n// Output 1: Always (presence update)\n// Output 2: Only when transitioning to occupied\nif (wasUnoccupied) {\n    return [msg, msg];\n}\nreturn [msg, null];",
    "outputs": 2,
    "x": 360,
    "y": 140,
    "wires": [
      ["presence_timeout"],
      ["on_enter_room"]
    ],
    "outputLabels": ["All activity", "Entered room"]
  },
  {
    "id": "presence_timeout",
    "type": "trigger",
    "z": "flow_presence_detection",
    "name": "10 min Timeout",
    "op1": "",
    "op2": "timeout",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": true,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 560,
    "y": 140,
    "wires": [["check_vacancy"]]
  },
  {
    "id": "check_vacancy",
    "type": "function",
    "z": "flow_presence_detection",
    "name": "Check Vacancy",
    "func": "// Verify all sensors are clear before marking vacant\nconst ha = global.get('homeassistant').homeAssistant.states;\n\nconst sensors = [\n    'binary_sensor.motion_room_1',\n    'binary_sensor.motion_room_2'\n];\n\n// Check if any sensor is still active\nconst anyActive = sensors.some(s => ha[s]?.state === 'on');\n\nif (anyActive) {\n    // Still activity, don't mark vacant\n    node.status({fill:'yellow', shape:'ring', text:'Still activity'});\n    return null;\n}\n\n// Mark room as vacant\nlet presence = flow.get('presence') || {};\npresence.occupied = false;\nflow.set('presence', presence);\n\nmsg.presence = {\n    room: 'living_room',\n    occupied: false,\n    vacantSince: Date.now()\n};\n\nnode.status({fill:'grey', shape:'ring', text:`Vacant - ${new Date().toLocaleTimeString()}`});\nreturn msg;",
    "outputs": 1,
    "x": 740,
    "y": 140,
    "wires": [["on_leave_room"]]
  },
  {
    "id": "on_enter_room",
    "type": "function",
    "z": "flow_presence_detection",
    "name": "On Enter Room",
    "func": "// Actions when someone enters the room\n// Add your automation logic here\n\nnode.warn('Room entered: ' + msg.presence.room);\n\n// Example: Turn on lights\nmsg.payload = {\n    action: 'light.turn_on',\n    target: { entity_id: ['light.living_room'] },\n    data: { brightness_pct: 80 }\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 560,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "on_leave_room",
    "type": "function",
    "z": "flow_presence_detection",
    "name": "On Leave Room",
    "func": "// Actions when room becomes vacant\n// Add your automation logic here\n\nnode.warn('Room vacant: ' + msg.presence.room);\n\n// Example: Turn off lights\nmsg.payload = {\n    action: 'light.turn_off',\n    target: { entity_id: ['light.living_room'] }\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 920,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "presence_status",
    "type": "inject",
    "z": "flow_presence_detection",
    "name": "Get Status",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "status",
    "payloadType": "str",
    "x": 120,
    "y": 300,
    "wires": [["show_status"]]
  },
  {
    "id": "show_status",
    "type": "function",
    "z": "flow_presence_detection",
    "name": "Show Status",
    "func": "const presence = flow.get('presence') || { occupied: false };\n\nmsg.payload = {\n    occupied: presence.occupied,\n    lastActivity: presence.lastActivity ? new Date(presence.lastActivity).toISOString() : null,\n    sensors: presence.sensors\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 290,
    "y": 300,
    "wires": [["debug_presence"]]
  },
  {
    "id": "debug_presence",
    "type": "debug",
    "z": "flow_presence_detection",
    "name": "Presence Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 480,
    "y": 300,
    "wires": []
  },
  {
    "id": "comment_presence",
    "type": "comment",
    "z": "flow_presence_detection",
    "name": "Configure sensors and room name in function nodes",
    "info": "## Setup\n1. Update motion sensor entity IDs\n2. Update door sensor entity ID (optional)\n3. Update room name in Presence Handler\n4. Update light entity in On Enter/Leave nodes\n5. Adjust timeout as needed\n\n## Features\n- Multiple sensor fusion\n- Configurable timeout\n- Enter/leave events\n- Status check",
    "x": 230,
    "y": 360,
    "wires": []
  }
]
