node-red/templates/scene-controller.json
[
  {
    "id": "flow_scene_controller",
    "type": "tab",
    "label": "Scene Controller",
    "disabled": false,
    "info": "Scene activation with button support and time-based defaults.\n\nGenerated by node-red@aurora-smart-home v1.0.0\nhttps://github.com/tonylofgren/aurora-smart-home\n\n## Features\n- Multiple scene presets\n- Button/switch integration\n- Time-based default scenes\n- Smooth transitions"
  },
  {
    "id": "button_trigger",
    "type": "trigger-state",
    "z": "flow_scene_controller",
    "name": "Scene Button",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "entityId": "sensor.scene_button_action",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [],
    "outputInitially": false,
    "stateType": "str",
    "x": 130,
    "y": 100,
    "wires": [
      ["button_handler"],
      []
    ]
  },
  {
    "id": "button_handler",
    "type": "function",
    "z": "flow_scene_controller",
    "name": "Button Handler",
    "func": "// Handle different button actions\nconst action = msg.payload;\n\nswitch (action) {\n    case 'single':\n        msg.scene = 'toggle';\n        break;\n    case 'double':\n        msg.scene = 'bright';\n        break;\n    case 'hold':\n        msg.scene = 'dim';\n        break;\n    case 'release':\n        // Ignore release events\n        return null;\n    default:\n        // Use action as scene name directly\n        msg.scene = action;\n}\n\nnode.status({fill:'blue', shape:'dot', text:`Action: ${action}`});\nreturn msg;",
    "outputs": 1,
    "x": 320,
    "y": 100,
    "wires": [["scene_router"]]
  },
  {
    "id": "manual_bright",
    "type": "inject",
    "z": "flow_scene_controller",
    "name": "Bright",
    "props": [
      {
        "p": "scene",
        "v": "bright",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 110,
    "y": 180,
    "wires": [["scene_router"]]
  },
  {
    "id": "manual_relax",
    "type": "inject",
    "z": "flow_scene_controller",
    "name": "Relax",
    "props": [
      {
        "p": "scene",
        "v": "relax",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 110,
    "y": 220,
    "wires": [["scene_router"]]
  },
  {
    "id": "manual_movie",
    "type": "inject",
    "z": "flow_scene_controller",
    "name": "Movie",
    "props": [
      {
        "p": "scene",
        "v": "movie",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 110,
    "y": 260,
    "wires": [["scene_router"]]
  },
  {
    "id": "manual_off",
    "type": "inject",
    "z": "flow_scene_controller",
    "name": "Off",
    "props": [
      {
        "p": "scene",
        "v": "off",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 110,
    "y": 300,
    "wires": [["scene_router"]]
  },
  {
    "id": "scene_router",
    "type": "switch",
    "z": "flow_scene_controller",
    "name": "Scene Router",
    "property": "scene",
    "propertyType": "msg",
    "rules": [
      {"t": "eq", "v": "toggle", "vt": "str"},
      {"t": "eq", "v": "bright", "vt": "str"},
      {"t": "eq", "v": "relax", "vt": "str"},
      {"t": "eq", "v": "movie", "vt": "str"},
      {"t": "eq", "v": "dim", "vt": "str"},
      {"t": "eq", "v": "off", "vt": "str"}
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 6,
    "x": 510,
    "y": 180,
    "wires": [
      ["toggle_handler"],
      ["scene_bright"],
      ["scene_relax"],
      ["scene_movie"],
      ["scene_dim"],
      ["scene_off"]
    ],
    "outputLabels": ["Toggle", "Bright", "Relax", "Movie", "Dim", "Off"]
  },
  {
    "id": "toggle_handler",
    "type": "function",
    "z": "flow_scene_controller",
    "name": "Toggle Handler",
    "func": "// Toggle between current scene and off, or activate time-based scene\nconst ha = global.get('homeassistant').homeAssistant.states;\nconst lightState = ha['light.living_room']?.state;\n\nif (lightState === 'on') {\n    // Turn off\n    msg.scene = 'off';\n} else {\n    // Select scene based on time\n    const hour = new Date().getHours();\n    \n    if (hour >= 6 && hour < 18) {\n        msg.scene = 'bright';\n    } else if (hour >= 18 && hour < 22) {\n        msg.scene = 'relax';\n    } else {\n        msg.scene = 'dim';\n    }\n}\n\nnode.status({fill:'green', shape:'dot', text:msg.scene});\nreturn msg;",
    "outputs": 1,
    "x": 710,
    "y": 60,
    "wires": [["scene_router"]]
  },
  {
    "id": "scene_bright",
    "type": "function",
    "z": "flow_scene_controller",
    "name": "Bright Scene",
    "func": "// Bright scene - full brightness, neutral white\nmsg.payload = {\n    action: 'light.turn_on',\n    target: { entity_id: ['light.living_room', 'light.kitchen'] },\n    data: {\n        brightness_pct: 100,\n        color_temp: 300,\n        transition: 2\n    }\n};\n\nflow.set('currentScene', 'bright');\nnode.status({fill:'yellow', shape:'dot', text:'Bright'});\nreturn msg;",
    "outputs": 1,
    "x": 710,
    "y": 100,
    "wires": [["scene_service"]]
  },
  {
    "id": "scene_relax",
    "type": "function",
    "z": "flow_scene_controller",
    "name": "Relax Scene",
    "func": "// Relax scene - medium brightness, warm white\nmsg.payload = {\n    action: 'light.turn_on',\n    target: { entity_id: ['light.living_room'] },\n    data: {\n        brightness_pct: 60,\n        color_temp: 400,\n        transition: 3\n    }\n};\n\nflow.set('currentScene', 'relax');\nnode.status({fill:'orange', shape:'dot', text:'Relax'});\nreturn msg;",
    "outputs": 1,
    "x": 710,
    "y": 140,
    "wires": [["scene_service"]]
  },
  {
    "id": "scene_movie",
    "type": "function",
    "z": "flow_scene_controller",
    "name": "Movie Scene",
    "func": "// Movie scene - very dim, warm\nconst messages = [];\n\n// Dim main lights\nmessages.push({\n    payload: {\n        action: 'light.turn_on',\n        target: { entity_id: ['light.living_room'] },\n        data: {\n            brightness_pct: 10,\n            color_temp: 454,\n            transition: 3\n        }\n    }\n});\n\n// Turn off kitchen\nmessages.push({\n    payload: {\n        action: 'light.turn_off',\n        target: { entity_id: ['light.kitchen'] },\n        data: { transition: 3 }\n    }\n});\n\nflow.set('currentScene', 'movie');\nnode.status({fill:'purple', shape:'dot', text:'Movie'});\nreturn [messages];",
    "outputs": 1,
    "x": 710,
    "y": 180,
    "wires": [["scene_service"]]
  },
  {
    "id": "scene_dim",
    "type": "function",
    "z": "flow_scene_controller",
    "name": "Dim Scene",
    "func": "// Dim scene - night light\nmsg.payload = {\n    action: 'light.turn_on',\n    target: { entity_id: ['light.living_room'] },\n    data: {\n        brightness_pct: 20,\n        color_temp: 454,\n        transition: 2\n    }\n};\n\nflow.set('currentScene', 'dim');\nnode.status({fill:'grey', shape:'dot', text:'Dim'});\nreturn msg;",
    "outputs": 1,
    "x": 700,
    "y": 220,
    "wires": [["scene_service"]]
  },
  {
    "id": "scene_off",
    "type": "function",
    "z": "flow_scene_controller",
    "name": "Off",
    "func": "// Turn everything off\nmsg.payload = {\n    action: 'light.turn_off',\n    target: { entity_id: ['light.living_room', 'light.kitchen'] },\n    data: { transition: 2 }\n};\n\nflow.set('currentScene', 'off');\nnode.status({fill:'grey', shape:'ring', text:'Off'});\nreturn msg;",
    "outputs": 1,
    "x": 690,
    "y": 260,
    "wires": [["scene_service"]]
  },
  {
    "id": "scene_service",
    "type": "api-call-service",
    "z": "flow_scene_controller",
    "name": "Apply Scene",
    "server": "",
    "version": 5,
    "domain": "",
    "service": "",
    "entityId": [],
    "data": "",
    "dataType": "msg",
    "outputProperties": [],
    "queue": "none",
    "x": 930,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "get_scene_status",
    "type": "inject",
    "z": "flow_scene_controller",
    "name": "Get Status",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 120,
    "y": 380,
    "wires": [["show_scene_status"]]
  },
  {
    "id": "show_scene_status",
    "type": "function",
    "z": "flow_scene_controller",
    "name": "Show Status",
    "func": "const currentScene = flow.get('currentScene') || 'unknown';\nmsg.payload = { currentScene: currentScene };\nreturn msg;",
    "outputs": 1,
    "x": 290,
    "y": 380,
    "wires": [["debug_scene"]]
  },
  {
    "id": "debug_scene",
    "type": "debug",
    "z": "flow_scene_controller",
    "name": "Scene Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 470,
    "y": 380,
    "wires": []
  },
  {
    "id": "comment_scene",
    "type": "comment",
    "z": "flow_scene_controller",
    "name": "Configure lights and scenes in function nodes",
    "info": "## Setup\n1. Update button entity ID\n2. Update light entity IDs in each scene\n3. Adjust brightness/color values\n4. Configure transition times\n\n## Scenes\n- Bright: 100% neutral white\n- Relax: 60% warm white\n- Movie: 10% very warm\n- Dim: 20% night light\n- Off: All lights off\n\n## Button Actions\n- Single: Toggle (time-based scene or off)\n- Double: Bright\n- Hold: Dim",
    "x": 200,
    "y": 440,
    "wires": []
  }
]
