node-red/templates/scene-controller.json
[
  {
    "id": "flow_scenes",
    "type": "tab",
    "label": "Scene Controller",
    "info": "Activate scenes based on button presses or input selects.\n\nGenerated by node-red@aurora-smart-home\nhttps://github.com/tonylofgren/aurora-smart-home"
  },
  {
    "id": "comment_scenes",
    "type": "comment",
    "z": "flow_scenes",
    "name": "⚙️ CONFIGURATION REQUIRED",
    "info": "1. Select your Home Assistant server\n2. Update scene selector entity: input_select.scene_selector_CHANGE_ME\n3. Update scene entity IDs in the switch node\n4. Optionally add button triggers",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "scene_selector",
    "type": "trigger-state",
    "z": "flow_scenes",
    "name": "Scene Selected",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "input_select.scene_selector_CHANGE_ME",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "str",
    "enableInput": false,
    "x": 150,
    "y": 140,
    "wires": [
      ["route_scene"],
      []
    ]
  },
  {
    "id": "route_scene",
    "type": "switch",
    "z": "flow_scenes",
    "name": "Route to Scene",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "Morning", "vt": "str" },
      { "t": "eq", "v": "Day", "vt": "str" },
      { "t": "eq", "v": "Evening", "vt": "str" },
      { "t": "eq", "v": "Night", "vt": "str" },
      { "t": "eq", "v": "Movie", "vt": "str" },
      { "t": "eq", "v": "Away", "vt": "str" }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 6,
    "x": 360,
    "y": 140,
    "wires": [
      ["scene_morning"],
      ["scene_day"],
      ["scene_evening"],
      ["scene_night"],
      ["scene_movie"],
      ["scene_away"]
    ]
  },
  {
    "id": "scene_morning",
    "type": "api-call-service",
    "z": "flow_scenes",
    "name": "Morning Scene",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "scene",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["scene.morning"],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 580,
    "y": 60,
    "wires": [
      ["debug_scene"]
    ]
  },
  {
    "id": "scene_day",
    "type": "api-call-service",
    "z": "flow_scenes",
    "name": "Day Scene",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "scene",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["scene.day"],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 570,
    "y": 100,
    "wires": [
      ["debug_scene"]
    ]
  },
  {
    "id": "scene_evening",
    "type": "api-call-service",
    "z": "flow_scenes",
    "name": "Evening Scene",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "scene",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["scene.evening"],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 580,
    "y": 140,
    "wires": [
      ["debug_scene"]
    ]
  },
  {
    "id": "scene_night",
    "type": "api-call-service",
    "z": "flow_scenes",
    "name": "Night Scene",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "scene",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["scene.night"],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 580,
    "y": 180,
    "wires": [
      ["debug_scene"]
    ]
  },
  {
    "id": "scene_movie",
    "type": "api-call-service",
    "z": "flow_scenes",
    "name": "Movie Scene",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "scene",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["scene.movie"],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 580,
    "y": 220,
    "wires": [
      ["debug_scene"]
    ]
  },
  {
    "id": "scene_away",
    "type": "api-call-service",
    "z": "flow_scenes",
    "name": "Away Scene",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "scene",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["scene.away"],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 580,
    "y": 260,
    "wires": [
      ["debug_scene"]
    ]
  },
  {
    "id": "debug_scene",
    "type": "debug",
    "z": "flow_scenes",
    "name": "Scene Activated",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "\"Activated\"",
    "statusType": "jsonata",
    "x": 800,
    "y": 140,
    "wires": []
  },
  {
    "id": "button_trigger",
    "type": "trigger-state",
    "z": "flow_scenes",
    "name": "Scene Button",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "sensor.scene_button_CHANGE_ME",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "str",
    "enableInput": false,
    "x": 140,
    "y": 280,
    "wires": [
      ["button_to_scene"],
      []
    ]
  },
  {
    "id": "button_to_scene",
    "type": "function",
    "z": "flow_scenes",
    "name": "Map Button to Scene",
    "func": "// Map button actions to scenes\nconst action = msg.payload;\n\nconst actionMap = {\n    \"single\": \"Morning\",\n    \"double\": \"Evening\",\n    \"hold\": \"Night\"\n};\n\nconst scene = actionMap[action];\nif (scene) {\n    msg.payload = scene;\n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 280,
    "wires": [
      ["route_scene"]
    ]
  },
  {
    "id": "comment_ha_scenes",
    "type": "comment",
    "z": "flow_scenes",
    "name": "📝 Create scenes in HA",
    "info": "Create scenes in Home Assistant configuration.yaml:\n\n```yaml\nscene:\n  - name: Morning\n    entities:\n      light.living_room:\n        state: on\n        brightness_pct: 80\n      light.kitchen:\n        state: on\n        brightness_pct: 100\n\n  - name: Evening\n    entities:\n      light.living_room:\n        state: on\n        brightness_pct: 50\n        color_temp: 400\n\n  - name: Night\n    entities:\n      light.living_room:\n        state: on\n        brightness_pct: 20\n      light.bedroom:\n        state: on\n        brightness_pct: 10\n\n  - name: Movie\n    entities:\n      light.living_room:\n        state: on\n        brightness_pct: 10\n      light.tv_backlight:\n        state: on\n```",
    "x": 150,
    "y": 360,
    "wires": []
  }
]
