node-red/templates/security-alerts.json
[
  {
    "id": "flow_security_alerts",
    "type": "tab",
    "label": "Security Alerts",
    "disabled": false,
    "info": "Door and window monitoring with arm/disarm support.\n\nGenerated by node-red@aurora-smart-home v1.0.0\nhttps://github.com/tonylofgren/aurora-smart-home\n\n## Features\n- Door/window monitoring\n- Arm/disarm modes\n- Entry delay\n- Alert escalation"
  },
  {
    "id": "arm_input",
    "type": "api-current-state",
    "z": "flow_security_alerts",
    "name": "Get Alarm State",
    "server": "",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.alarm_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "alarmMode",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 140,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "door_trigger",
    "type": "trigger-state",
    "z": "flow_security_alerts",
    "name": "Door Sensors",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "entityId": "binary_sensor.door",
    "entityIdType": "substring",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValue": "on"
      }
    ],
    "outputInitially": false,
    "stateType": "str",
    "x": 130,
    "y": 140,
    "wires": [
      ["check_alarm_state"],
      []
    ]
  },
  {
    "id": "window_trigger",
    "type": "trigger-state",
    "z": "flow_security_alerts",
    "name": "Window Sensors",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "entityId": "binary_sensor.window",
    "entityIdType": "substring",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValue": "on"
      }
    ],
    "outputInitially": false,
    "stateType": "str",
    "x": 140,
    "y": 200,
    "wires": [
      ["check_alarm_state"],
      []
    ]
  },
  {
    "id": "motion_trigger_sec",
    "type": "trigger-state",
    "z": "flow_security_alerts",
    "name": "Motion Sensors",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "entityId": "binary_sensor.motion",
    "entityIdType": "substring",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValue": "on"
      }
    ],
    "outputInitially": false,
    "stateType": "str",
    "x": 140,
    "y": 260,
    "wires": [
      ["check_alarm_state"],
      []
    ]
  },
  {
    "id": "check_alarm_state",
    "type": "function",
    "z": "flow_security_alerts",
    "name": "Check Alarm State",
    "func": "// Get current alarm mode from HA\nconst ha = global.get('homeassistant').homeAssistant.states;\nconst alarmMode = ha['input_select.alarm_mode']?.state || 'disarmed';\n\nmsg.security = {\n    mode: alarmMode,\n    trigger: msg.data.entity_id,\n    triggerType: msg.data.entity_id.includes('door') ? 'door' : \n                 msg.data.entity_id.includes('window') ? 'window' : 'motion',\n    time: Date.now()\n};\n\nnode.status({fill:'blue', shape:'dot', text:`Mode: ${alarmMode}`});\n\n// Determine if this should trigger an alert\nswitch (alarmMode) {\n    case 'armed_away':\n        // All sensors trigger alert\n        return [msg, null, null];\n    \n    case 'armed_home':\n        // Only doors and windows trigger\n        if (msg.security.triggerType !== 'motion') {\n            return [null, msg, null];\n        }\n        break;\n    \n    case 'armed_night':\n        // Only entry doors trigger\n        if (msg.data.entity_id.includes('entry') || \n            msg.data.entity_id.includes('front') ||\n            msg.data.entity_id.includes('back')) {\n            return [null, null, msg];\n        }\n        break;\n    \n    case 'disarmed':\n    default:\n        // Log but don't alert\n        node.status({fill:'grey', shape:'ring', text:'Disarmed'});\n        break;\n}\n\nreturn [null, null, null];",
    "outputs": 3,
    "x": 370,
    "y": 200,
    "wires": [
      ["entry_delay_away"],
      ["entry_delay_home"],
      ["immediate_alert"]
    ],
    "outputLabels": ["Armed Away", "Armed Home", "Armed Night"]
  },
  {
    "id": "entry_delay_away",
    "type": "trigger",
    "z": "flow_security_alerts",
    "name": "30s Entry Delay",
    "op1": "warning",
    "op2": "alert",
    "op1type": "str",
    "op2type": "str",
    "duration": "30",
    "extend": false,
    "units": "s",
    "reset": "disarm",
    "bytopic": "all",
    "outputs": 2,
    "x": 580,
    "y": 160,
    "wires": [
      ["warning_sound"],
      ["trigger_alarm"]
    ]
  },
  {
    "id": "entry_delay_home",
    "type": "trigger",
    "z": "flow_security_alerts",
    "name": "15s Entry Delay",
    "op1": "warning",
    "op2": "alert",
    "op1type": "str",
    "op2type": "str",
    "duration": "15",
    "extend": false,
    "units": "s",
    "reset": "disarm",
    "bytopic": "all",
    "outputs": 2,
    "x": 580,
    "y": 200,
    "wires": [
      ["warning_sound"],
      ["trigger_alarm"]
    ]
  },
  {
    "id": "immediate_alert",
    "type": "change",
    "z": "flow_security_alerts",
    "name": "Immediate",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "alert",
        "tot": "str"
      }
    ],
    "x": 570,
    "y": 240,
    "wires": [["trigger_alarm"]]
  },
  {
    "id": "warning_sound",
    "type": "api-call-service",
    "z": "flow_security_alerts",
    "name": "Warning Beep",
    "server": "",
    "version": 5,
    "domain": "media_player",
    "service": "play_media",
    "entityId": ["media_player.speaker"],
    "data": "{\"media_content_id\":\"media-source://media_source/local/warning_beep.mp3\",\"media_content_type\":\"audio/mp3\"}",
    "dataType": "json",
    "outputProperties": [],
    "queue": "none",
    "x": 790,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "trigger_alarm",
    "type": "function",
    "z": "flow_security_alerts",
    "name": "Trigger Alarm",
    "func": "// Full alarm triggered\nconst security = msg.security || {};\n\n// Log the event\nflow.set('lastAlarm', {\n    time: Date.now(),\n    trigger: security.trigger,\n    mode: security.mode\n});\n\nnode.status({fill:'red', shape:'dot', text:'ALARM TRIGGERED'});\n\n// Create alert message\nmsg.alert = {\n    title: '🚨 SECURITY ALERT',\n    message: `${security.triggerType} opened: ${security.trigger}`,\n    priority: 'critical'\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 790,
    "y": 200,
    "wires": [["alarm_actions"]]
  },
  {
    "id": "alarm_actions",
    "type": "function",
    "z": "flow_security_alerts",
    "name": "Alarm Actions",
    "func": "// Send multiple actions for alarm\nconst actions = [];\n\n// 1. Send critical notification\nactions.push({\n    payload: {\n        action: 'notify.mobile_app_phone',\n        data: {\n            title: msg.alert.title,\n            message: msg.alert.message,\n            data: {\n                push: {\n                    sound: { name: 'default', critical: 1, volume: 1.0 }\n                }\n            }\n        }\n    }\n});\n\n// 2. Turn on all lights\nactions.push({\n    payload: {\n        action: 'light.turn_on',\n        target: { entity_id: ['light.all_lights'] },\n        data: { brightness_pct: 100 }\n    }\n});\n\n// 3. Play alarm sound\nactions.push({\n    payload: {\n        action: 'media_player.play_media',\n        target: { entity_id: ['media_player.speaker'] },\n        data: {\n            media_content_id: 'media-source://media_source/local/alarm.mp3',\n            media_content_type: 'audio/mp3'\n        }\n    }\n});\n\nreturn [actions];",
    "outputs": 1,
    "x": 970,
    "y": 200,
    "wires": [["alarm_service"]]
  },
  {
    "id": "alarm_service",
    "type": "api-call-service",
    "z": "flow_security_alerts",
    "name": "Execute Action",
    "server": "",
    "version": 5,
    "domain": "",
    "service": "",
    "entityId": [],
    "data": "",
    "dataType": "msg",
    "outputProperties": [],
    "queue": "none",
    "x": 1150,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "arm_away_btn",
    "type": "inject",
    "z": "flow_security_alerts",
    "name": "Arm Away",
    "props": [
      {
        "p": "payload",
        "v": "armed_away",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 120,
    "y": 360,
    "wires": [["set_alarm_mode"]]
  },
  {
    "id": "arm_home_btn",
    "type": "inject",
    "z": "flow_security_alerts",
    "name": "Arm Home",
    "props": [
      {
        "p": "payload",
        "v": "armed_home",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 120,
    "y": 400,
    "wires": [["set_alarm_mode"]]
  },
  {
    "id": "disarm_btn",
    "type": "inject",
    "z": "flow_security_alerts",
    "name": "Disarm",
    "props": [
      {
        "p": "payload",
        "v": "disarmed",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 110,
    "y": 440,
    "wires": [["set_alarm_mode", "cancel_delays"]]
  },
  {
    "id": "set_alarm_mode",
    "type": "api-call-service",
    "z": "flow_security_alerts",
    "name": "Set Alarm Mode",
    "server": "",
    "version": 5,
    "domain": "input_select",
    "service": "select_option",
    "entityId": ["input_select.alarm_mode"],
    "data": "{\"option\": \"{{payload}}\"}",
    "dataType": "json",
    "outputProperties": [],
    "queue": "none",
    "x": 320,
    "y": 400,
    "wires": [[]]
  },
  {
    "id": "cancel_delays",
    "type": "change",
    "z": "flow_security_alerts",
    "name": "Cancel Signal",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "disarm",
        "tot": "str"
      }
    ],
    "x": 320,
    "y": 460,
    "wires": [["entry_delay_away", "entry_delay_home"]]
  },
  {
    "id": "comment_security",
    "type": "comment",
    "z": "flow_security_alerts",
    "name": "Setup: Create input_select.alarm_mode in HA with options: disarmed, armed_away, armed_home, armed_night",
    "info": "## Prerequisites\n1. Create input_select.alarm_mode in HA:\n   - disarmed\n   - armed_away\n   - armed_home\n   - armed_night\n\n2. Update sensor entity IDs\n3. Update media player for alarm\n4. Configure notification recipients\n\n## Features\n- Multiple arm modes\n- Entry delays (configurable)\n- Warning sounds before alarm\n- Full alarm with lights + sound + notification",
    "x": 370,
    "y": 520,
    "wires": []
  }
]
