node-red/templates/security-alerts.json
[
  {
    "id": "flow_security",
    "type": "tab",
    "label": "Security Alerts",
    "info": "Monitor doors and windows, alert when left open.\n\nGenerated by node-red@aurora-smart-home\nhttps://github.com/tonylofgren/aurora-smart-home"
  },
  {
    "id": "comment_security",
    "type": "comment",
    "z": "flow_security",
    "name": "⚙️ CONFIGURATION REQUIRED",
    "info": "1. Select your Home Assistant server\n2. Update entity pattern to match your sensors\n3. Adjust timeout (default: 5 minutes)\n4. Configure notification service",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "door_window_trigger",
    "type": "trigger-state",
    "z": "flow_security",
    "name": "Door/Window Opened",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor\\.(door|window)_.+",
    "entityIdType": "regex",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      }
    ],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "str",
    "enableInput": false,
    "x": 160,
    "y": 140,
    "wires": [
      ["store_open"],
      []
    ]
  },
  {
    "id": "store_open",
    "type": "function",
    "z": "flow_security",
    "name": "Store Open Time",
    "func": "const entityId = msg.data.entity_id;\nconst friendlyName = msg.data.new_state.attributes.friendly_name || entityId;\nconst openSensors = flow.get('openSensors') || {};\n\nopenSensors[entityId] = {\n    opened: Date.now(),\n    name: friendlyName\n};\n\nflow.set('openSensors', openSensors);\n\nmsg.entityId = entityId;\nmsg.friendlyName = friendlyName;\n\nnode.status({fill:\"yellow\",shape:\"dot\",text:`${friendlyName} open`});\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 140,
    "wires": [
      ["timeout_trigger"]
    ]
  },
  {
    "id": "timeout_trigger",
    "type": "trigger",
    "z": "flow_security",
    "name": "5 min timeout",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "5",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "entityId",
    "outputs": 1,
    "x": 610,
    "y": 140,
    "wires": [
      ["check_still_open"]
    ]
  },
  {
    "id": "check_still_open",
    "type": "function",
    "z": "flow_security",
    "name": "Check Still Open",
    "func": "const states = global.get(\"homeassistant\").homeAssistant.states;\nconst entityId = msg.entityId;\nconst friendlyName = msg.friendlyName;\n\n// Check if sensor is still open\nconst sensor = states[entityId];\nif (!sensor || sensor.state !== 'on') {\n    // Sensor closed, remove from tracking\n    const openSensors = flow.get('openSensors') || {};\n    delete openSensors[entityId];\n    flow.set('openSensors', openSensors);\n    node.status({});\n    return null;\n}\n\n// Still open - calculate duration\nconst openSensors = flow.get('openSensors') || {};\nconst openedAt = openSensors[entityId]?.opened || Date.now();\nconst duration = Math.round((Date.now() - openedAt) / 60000);\n\nmsg.payload = {\n    entityId: entityId,\n    name: friendlyName,\n    openMinutes: duration,\n    message: `${friendlyName} has been open for ${duration} minutes`\n};\n\nnode.status({fill:\"red\",shape:\"dot\",text:`${friendlyName} ${duration}m`});\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 820,
    "y": 140,
    "wires": [
      ["send_alert", "debug_alert"]
    ]
  },
  {
    "id": "send_alert",
    "type": "api-call-service",
    "z": "flow_security",
    "name": "Send Alert",
    "server": "",
    "version": 5,
    "debugEnabled": false,
    "domain": "notify",
    "service": "persistent_notification",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"title\": \"Security Alert\", \"message\": \"{{ payload.message }}\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1030,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "debug_alert",
    "type": "debug",
    "z": "flow_security",
    "name": "Alert",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload.message",
    "targetType": "msg",
    "statusVal": "payload.message",
    "statusType": "msg",
    "x": 1010,
    "y": 180,
    "wires": []
  },
  {
    "id": "door_closed",
    "type": "trigger-state",
    "z": "flow_security",
    "name": "Door/Window Closed",
    "server": "",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor\\.(door|window)_.+",
    "entityIdType": "regex",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      }
    ],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "str",
    "enableInput": false,
    "x": 160,
    "y": 240,
    "wires": [
      ["clear_tracking"],
      []
    ]
  },
  {
    "id": "clear_tracking",
    "type": "function",
    "z": "flow_security",
    "name": "Clear Tracking",
    "func": "const entityId = msg.data.entity_id;\nconst openSensors = flow.get('openSensors') || {};\n\nif (openSensors[entityId]) {\n    delete openSensors[entityId];\n    flow.set('openSensors', openSensors);\n    \n    const remaining = Object.keys(openSensors).length;\n    if (remaining === 0) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"all closed\"});\n    } else {\n        node.status({fill:\"yellow\",shape:\"ring\",text:`${remaining} open`});\n    }\n}\n\nreturn null;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 240,
    "wires": [
      []
    ]
  }
]
