node-red/templates/subflow-notification.json
[
  {
    "id": "subflow_notification",
    "type": "subflow",
    "name": "Send Notification",
    "info": "Standardized notification sender with priority levels.\n\nGenerated by node-red@aurora-smart-home v1.0.0\nhttps://github.com/tonylofgren/aurora-smart-home\n\n## Input\nSet these properties on the incoming message:\n- msg.title: Notification title\n- msg.message: Notification message\n- msg.priority: 'low', 'normal', 'high', 'critical' (default: normal)\n\n## Environment Variables\n- NOTIFY_SERVICE: The notification service to use (default: notify.mobile_app_phone)\n- DEFAULT_TITLE: Default title if not specified (default: Home Assistant)",
    "category": "home assistant",
    "in": [
      {
        "x": 50,
        "y": 30,
        "wires": [
          {"id": "notify_format"}
        ]
      }
    ],
    "out": [
      {
        "x": 450,
        "y": 30,
        "wires": [
          {"id": "notify_call", "port": 0}
        ]
      }
    ],
    "env": [
      {
        "name": "NOTIFY_SERVICE",
        "type": "str",
        "value": "notify.mobile_app_phone",
        "ui": {
          "label": {
            "en-US": "Notify Service"
          },
          "type": "input",
          "opts": {
            "types": ["str"]
          }
        }
      },
      {
        "name": "DEFAULT_TITLE",
        "type": "str",
        "value": "Home Assistant",
        "ui": {
          "label": {
            "en-US": "Default Title"
          },
          "type": "input",
          "opts": {
            "types": ["str"]
          }
        }
      }
    ],
    "meta": {
      "module": "aurora-smart-home",
      "type": "notification",
      "version": "1.0.0",
      "author": "aurora-smart-home",
      "desc": "Send standardized notifications",
      "keywords": "notification, notify, alert, mobile"
    },
    "color": "#3FADB5",
    "icon": "envelope.svg"
  },
  {
    "id": "notify_format",
    "type": "function",
    "z": "subflow_notification",
    "name": "Format Notification",
    "func": "const service = env.get('NOTIFY_SERVICE') || 'notify.mobile_app_phone';\nconst defaultTitle = env.get('DEFAULT_TITLE') || 'Home Assistant';\n\nconst title = msg.title || defaultTitle;\nconst message = msg.message || msg.payload || 'No message';\nconst priority = msg.priority || 'normal';\n\n// Build notification data based on priority\nlet notifyData = {\n    title: title,\n    message: message\n};\n\nswitch (priority) {\n    case 'critical':\n        notifyData.title = '🚨 ' + title;\n        notifyData.data = {\n            push: {\n                sound: {\n                    name: 'default',\n                    critical: 1,\n                    volume: 1.0\n                }\n            },\n            ttl: 0,\n            priority: 'high'\n        };\n        break;\n    \n    case 'high':\n        notifyData.title = '⚠️ ' + title;\n        notifyData.data = {\n            ttl: 0,\n            priority: 'high'\n        };\n        break;\n    \n    case 'low':\n        notifyData.data = {\n            ttl: 3600,\n            priority: 'low'\n        };\n        break;\n    \n    case 'normal':\n    default:\n        // Default notification settings\n        break;\n}\n\nmsg.payload = {\n    action: service,\n    data: notifyData\n};\n\nnode.status({fill:'blue', shape:'dot', text:`${priority}: ${title.substring(0, 20)}...`});\n\nreturn msg;",
    "outputs": 1,
    "x": 190,
    "y": 30,
    "wires": [["notify_call"]]
  },
  {
    "id": "notify_call",
    "type": "api-call-service",
    "z": "subflow_notification",
    "name": "Call Service",
    "server": "",
    "version": 5,
    "domain": "",
    "service": "",
    "entityId": [],
    "data": "",
    "dataType": "msg",
    "mergeContext": "",
    "outputProperties": [],
    "queue": "none",
    "x": 350,
    "y": 30,
    "wires": [[]]
  }
]
