node-red/templates/subflow-debounce.json
[
  {
    "id": "subflow_debounce",
    "type": "subflow",
    "name": "Debounce",
    "info": "Debounces messages, only passing through after a period of inactivity.\n\n## Environment Variables\n\n- **DEBOUNCE_MS**: Time in milliseconds (default: 1000)\n- **PASS_FIRST**: Pass first message immediately (default: false)\n- **BY_TOPIC**: Debounce per topic (default: true)\n\n## Usage\n\nPlace between trigger and action nodes to prevent rapid firing.\n\n---\nGenerated by node-red@aurora-smart-home\nhttps://github.com/tonylofgren/aurora-smart-home",
    "category": "home assistant",
    "in": [
      {
        "x": 50,
        "y": 80,
        "wires": [
          {
            "id": "debounce_func"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 400,
        "y": 80,
        "wires": [
          {
            "id": "debounce_trigger",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "DEBOUNCE_MS",
        "type": "num",
        "value": "1000",
        "ui": {
          "label": {
            "en-US": "Debounce (ms)"
          },
          "type": "spinner",
          "opts": {
            "min": 100,
            "max": 60000
          }
        }
      },
      {
        "name": "PASS_FIRST",
        "type": "bool",
        "value": "false",
        "ui": {
          "label": {
            "en-US": "Pass first message"
          },
          "type": "checkbox"
        }
      },
      {
        "name": "BY_TOPIC",
        "type": "bool",
        "value": "true",
        "ui": {
          "label": {
            "en-US": "Debounce per topic"
          },
          "type": "checkbox"
        }
      }
    ],
    "meta": {
      "module": "debounce-subflow",
      "version": "1.0.0",
      "author": "aurora-smart-home",
      "desc": "Debounce messages to prevent rapid firing"
    },
    "color": "#87CEEB",
    "icon": "font-awesome/fa-clock-o"
  },
  {
    "id": "debounce_func",
    "type": "function",
    "z": "subflow_debounce",
    "name": "Debounce Logic",
    "func": "const debounceMs = env.get('DEBOUNCE_MS') || 1000;\nconst passFirst = env.get('PASS_FIRST') || false;\nconst byTopic = env.get('BY_TOPIC') !== false;\n\nconst key = byTopic ? (msg.topic || 'default') : 'global';\nconst contextKey = `debounce_${key}`;\nconst lastTimeKey = `lastTime_${key}`;\n\nconst lastTime = context.get(lastTimeKey);\nconst now = Date.now();\n\n// First message handling\nif (lastTime === undefined) {\n    context.set(lastTimeKey, now);\n    if (passFirst) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"first pass\"});\n        return msg;\n    }\n}\n\n// Within debounce window - store for later\ncontext.set(lastTimeKey, now);\ncontext.set(contextKey, msg);\n\nnode.status({fill:\"yellow\",shape:\"ring\",text:\"waiting\"});\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 170,
    "y": 80,
    "wires": [
      ["debounce_trigger"]
    ]
  },
  {
    "id": "debounce_trigger",
    "type": "trigger",
    "z": "subflow_debounce",
    "name": "Debounce Timer",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "1000",
    "extend": true,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "topic",
    "topic": "topic",
    "outputs": 1,
    "x": 320,
    "y": 80,
    "wires": [
      []
    ]
  }
]
